/* #Cromaticos
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Cromaticos">*/
/*Background*/
.metro .bg-darkBlue,.metro .bg-hover-darkBlue:hover,.metro .bg-focus-darkBlue:focus,.metro .bg-active-darkBlue:active{
    background-color: rgb(0,70,113)!important;/*#004671!important;*/
}
.metro .bg-extraLightBlue,.metro .bg-hover-extraLightBlue:hover,.metro .bg-focus-extraLightBlue:focus,.metro .bg-active-extraLightBlue:active{
    background-color: rgb(72,177,240)!important;/*#48B1F0!important;*/
}
.metro .bg-blue,.metro .bg-hover-blue:hover,.metro .bg-focus-blue:focus,.metro .bg-active-blue:active{
    background-color: rgb(0,118,189)!important;/*#0076BD!important;*/
}
.metro .bg-lightBlue,.metro .bg-hover-lightBlue:hover,.metro .bg-focus-lightBlue:focus,.metro .bg-active-lightBlue:active{
    background-color: rgb(0,150,240)!important;/*#0096F0!important;*/
}
/*Border*/
.metro .bd-darkBlue,.metro .bd-hover-darkBlue:hover,.metro .bd-focus-darkBlue:focus,.metro .bd-active-darkBlue:active{
    border-color: rgb(0,70,113)!important;/*#004671!important;*/
}
.metro .bd-extraLightBlue,.metro .bd-hover-extraLightBlue:hover,.metro .bd-focus-extraLightBlue:focus,.metro .bd-active-extraLightBlue:active{
    border-color: rgb(72,177,240)!important;/*#48B1F0!important;*/
}
.metro .bd-blue,.metro .bd-hover-blue:hover,.metro .bd-focus-blue:focus,.metro .bd-active-blue:active{
    border-color: rgb(0,118,189)!important;/*#0076BD!important;*/
}
.metro .bd-lightBlue,.metro .bd-hover-lightBlue:hover,.metro .bd-focus-lightBlue:focus,.metro .bd-active-lightBlue:active{
    border-color: rgb(0,150,240)!important;/*#0096F0!important;*/
}
/*Foreground*/
.metro .fg-darkBlue,.metro .fg-hover-darkBlue:hover,.metro .fg-focus-darkBlue:focus,.metro .fg-active-darkBlue:active{
    color: rgb(0,70,113)!important;/*#004671!important;*/
}
.metro .fg-extraLightBlue,.metro .fg-hover-extraLightBlue:hover,.metro .fg-focus-extraLightBlue:focus,.metro .fg-active-extraLightBlue:active{
    color: rgb(72,177,240)!important;/*#48B1F0!important;*/
}
.metro .fg-blue,.metro .fg-hover-blue:hover,.metro .fg-focus-blue:focus,.metro .fg-active-blue:active{
    color: rgb(0,118,189)!important;/*#0076fg!important;*/
}
.metro .fg-lightBlue,.metro .fg-hover-lightBlue:hover,.metro .fg-focus-lightBlue:focus,.metro .fg-active-lightBlue:active{
    color: rgb(0,150,240)!important;/*#0096F0!important;*/
}



/*</editor-fold>*/

/* #Grises
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Grises">*/
/*Background*/
.metro .bg-darker,.metro .bg-hover-darker:hover,.metro .bg-focus-darker:focus,.metro .bg-active-darker:active{
    background-color: #1D1D1D!important;
}
.metro .bg-dark,.metro .bg-hover-dark:hover,.metro .bg-focus-dark:focus,.metro .bg-active-dark:active{
    background-color: #575756!important;
}
.metro .bg-gray,.metro .bg-hover-gray:hover,.metro .bg-focus-gray:focus,.metro .bg-active-gray:active{
    background-color: #868686!important;
}
.metro .bg-lightgray,.metro .bg-hover-lightgray:hover,.metro .bg-focus-lightgray:focus,.metro .bg-active-lightgray:active{
    background-color: #9C9B9B!important;
}
/*Border*/
.metro .bd-darker,.metro .bd-hover-darker:hover,.metro .bd-focus-darker:focus,.metro .bd-active-darker:active{
    border-color: #1D1D1D!important;
}
.metro .bd-dark,.metro .bd-hover-dark:hover,.metro .bd-focus-dark:focus,.metro .bd-active-dark:active{
    border-color: #575756!important;
}
.metro .bd-gray,.metro .bd-hover-gray:hover,.metro .bd-focus-gray:focus,.metro .bd-active-gray:active{
    border-color: #868686!important;
}
.metro .bd-lightgray,.metro .bd-hover-lightgray:hover,.metro .bd-focus-lightgray:focus,.metro .bd-active-lightgray:active{
    border-color: #9C9B9B!important;
}
/*Foreground*/
.metro .fg-darker,.metro .fg-hover-darker:hover,.metro .fg-focus-darker:focus,.metro .fg-active-darker:active{
    color: #1D1D1D!important;
}
.metro .fg-dark,.metro .fg-hover-dark:hover,.metro .fg-focus-dark:focus,.metro .fg-active-dark:active{
    color: #575756!important;
}
.metro .fg-gray,.metro .fg-hover-gray:hover,.metro .fg-focus-gray:focus,.metro .fg-active-gray:active{
    color: rgb(0,118,189)!important;/*#0076fg!important;*/
}
.metro .fg-lightgray,.metro .fg-hover-lightgray:hover,.metro .fg-focus-lightgray:focus,.metro .fg-active-lightgray:active{
    color: #9C9B9B!important;
}

/*</editor-fold>*/

/* #Acromaticos
================================================== */

/*<editor-fold defaultstate="collapsed" desc="Acromaticos">*/
/*Background*/
.metro .bg-black,.metro .bg-hover-black:hover,.metro .bg-focus-black:focus,.metro .bg-active-black:active{
    background-color: #000000!important;
}
.metro .bg-white,.metro .bg-hover-white:hover,.metro .bg-focus-white:focus,.metro .bg-active-white:active{
    background-color: #FFFFFF!important;
}

/*Border*/
.metro .bd-black,.metro .bd-hover-black:hover,.metro .bd-focus-black:focus,.metro .bd-active-black:active{
    border-color: #000000!important;
}
.metro .bd-white,.metro .bd-hover-white:hover,.metro .bd-focus-white:focus,.metro .bd-active-white:active{
    border-color: #FFFFFF!important;
}

/*Foreground*/
.metro .fg-black,.metro .fg-hover-black:hover,.metro .fg-focus-black:focus,.metro .fg-active-black:active{
    color: #000000!important;
}
.metro .fg-white,.metro .fg-hover-white:hover,.metro .fg-focus-white:focus,.metro .fg-active-white:active{
    color: #FFFFFF!important;
}
/*</editor-fold>*/



/*Background*/
.metro .bg-red,.metro .bg-hover-red:hover,.metro .bg-focus-red:focus,.metro .bg-active-red:active{
    background-color: #000000!important;
}
.metro .bg-yellow,.metro .bg-hover-yellow:hover,.metro .bg-focus-yellow:focus,.metro .bg-active-yellow:active{
    background-color: yellow!important;
}

/*Border*/
.metro .bd-red,.metro .bd-hover-red:hover,.metro .bd-focus-red:focus,.metro .bd-active-red:active{
    border-color: #000000!important;
}
.metro .bd-yellow,.metro .bd-hover-yellow:hover,.metro .bd-focus-yellow:focus,.metro .bd-active-yellow:active{
    border-color: yellow!important;
}

/*Foreground*/
.metro .fg-red,.metro .fg-hover-red:hover,.metro .fg-focus-red:focus,.metro .fg-active-red:active{
    color: #000000!important;
}
.metro .fg-yellow,.metro .fg-hover-yellow:hover,.metro .fg-focus-yellow:focus,.metro .fg-active-yellow:active{
    color: yellow!important;
}
/**/