
				#foreach ($nav_item in $nav_items)
						#set ($nav_item_attr_selected="")
						#set ($nav_item_attr_has_popup="")
						#set ($nav_item_caret="")
						#set ($nav_item_css_class="")
						#set ($nav_item_link_css_class="")

					#if ($nav_item.isSelected())
						#set ($nav_item_attr_selected="aria-selected='true'")
						#set ($nav_item_css_class="selected active")
					#end

					#if ($nav_item.hasChildren())
						#set ($nav_item_attr_has_popup="aria-haspopup='true'")
						#set ($nav_item_caret='<b class="icon-caret-down"></b>')
						#set ($nav_item_css_class="$nav_item_css_class")
						#set ($nav_item_link_css_class="dropdown-toggle")
					#end

					<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()">
						<a class="$nav_item_link_css_class" href="$nav_item.getURL()" $nav_item.getTarget()>
							$nav_item.getName()
						</a>

						#if ($nav_item.hasChildren())
							<ul class="fixnavbar dropdown-menu" data-role="dropdown">
								#foreach ($nav_child in $nav_item.getChildren())
									#set ($nav_child_attr_selected="")
									#set ($nav_child_css_class="")

									#if ($nav_child.isSelected())
										#set ($nav_child_attr_selected="aria-selected='true'")
										#set ($nav_child_css_class="selected")
									#end

									<li class="$nav_child_css_class" id="layout_$nav_child.getLayoutId()">
										<a href="$nav_child.getURL()" >$nav_child.getName()</a>
									</li>
								#end
							</ul>
						#end
					</li>
				#end
			
