<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)

<link rel="stylesheet" href="$css_folder/metro-bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="$css_folder/dcmtheme.css" type="text/css"/>
        <link rel="stylesheet" href="$css_folder/extranews.css" type="text/css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

 <!--Bing Maps-->
        <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
        </script>

<meta http-equiv="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
</head>

<body class="$css_class metro">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

 <header class="bg-dark" style="width: 100%;">

            <div class="navigation-bar fixed-top shadow">
                <div class="navigation-bar-content">
                    <a href="$site_default_url" class="element" title="#language_format ("go-to-x", [$site_name])"><span class="icon-grid-view"></span> UCE <sup>B</sup></a>
                    <span class="element-divider"></span>

                    <a class="element1 pull-menu" href="#"></a>
                   			<ul aria-label="#language ("site-pages")" class="element-menu">
#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end


                                <li id="dcmdockbar" style="display:none">#dockbar()</li>
                                 <a id="userlaunch" title="Nuget.org" href="#" class="element place-right"><span class="icon-user"></span></a>
                                    
                              
<a title="Nuget.org" href="https://www.nuget.org/packages/Metro.UI.CSS/" class="element place-right"><span class="icon-mail"></span></a>
                        <span class="element-divider place-right"></span>
                        <a title="GitHub" href="https://github.com/olton/Metro-UI-CSS" class="element place-right"><span class="icon-music"></span></a>
                        <span class="element-divider place-right"></span>
                        <a title="CSS3 validator" href="http://jigsaw.w3.org/css-validator/validator?uri=metroui.org.ua&profile=css3&usermedium=all&warning=no&vextwarning=" class="element place-right"><span class="icon-calendar"></span></a>
                        <span class="element-divider place-right"></span>
                        <div class="element place-right" title="GitHub Stars"><span class="icon-location"></span> <span class="github-watchers">0</span></div>
                        <!--<span class="element-divider place-right"></span>-->
                        <!--<div class="element place-right" title="GitHub Forks"><span class="icon-share-2"></span> <span class="github-forks">0</span></div>-->

<div class="element place-right" id="pos-search">                                                 
                                <div class="search ">
    <form action="/web/" method="post" class="form-inline">
        <div class="input-control text"><input name="searchword" id="mod-search-searchword" maxlength="20" class="inputbox search-query" size="20" value="Buscar..." onblur="if (this.value=='') this.value='Buscar...';" onfocus="if (this.value=='Buscar...') this.value='';" type="text"><button class="btn-search"></button></div>        <input name="task" value="search" type="hidden">
        <input name="option" value="com_search" type="hidden">
        <input name="Itemid" value="101" type="hidden">
    </form>
</div>
                                             
                            </div>
                 
</ul>
 


                  
                        

                    
                </div>
            </div>

        </header>

<div class="dcm top"> <a class="scrollto" href="#top">Scroll to top</a>
            <div class="clear"></div>
            <div class="scroll">
                <p>Top</p>
            </div>
        </div>

	<div id="wrapper_mayra">
		<nav id="breadcrumbs">#breadcrumbs()</nav>

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
    
	<footer class="footer">
            <div class="recentcomments" id="pos-footer">
                <div class="text-left text-justify" style="text-align: center;">
                    &copy;&nbsp;2014&nbsp;dacopanCM web
                    |&nbsp;designed by <a href="http://www.dacopancm.hol.es" class="fg-white fg-hover-amber fg-active-black">dacopanCM</a> con <a href="http://www.metroui.org.ua" class="fg-white fg-hover-amber fg-active-black">metrouicss</a>
                </div>
            </div>
        </footer>
        
<script src="$javascript_folder/dcmtheme.js" type="text/javascript" ></script>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>