/* #Tabs
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Tabs">*/
.metro .tab-control .tabs {
    padding-left: 0;
    list-style: none;
    margin: 0 !important;
    z-index: 2;
}

    .metro .tab-control .tabs li ul,
    .metro .tab-control .tabs li ol {
        list-style: none;
        padding-left: 25px;
    }

    .metro .tab-control .tabs:before,
    .metro .tab-control .tabs:after {
        display: table;
        content: "";
    }

    .metro .tab-control .tabs:after {
        clear: both;
    }

    .metro .tab-control .tabs > li {
        background-color: #ffffff;
        display: block;
        float: left;
        margin-left: 5px;
        position: relative;
        min-width: 60px;
        -moz-transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

        .metro .tab-control .tabs > li.active {
            min-width: 70%;
        }

        .metro .tab-control .tabs > li > a {
            border: 1px #eeeeee solid;
            display: block;
            float: left;
            padding: 5px 10px;
            z-index: 10;
            top: 0;
            left: 0;
            color: inherit;
            background-color: #eeeeee;
        }

        .metro .tab-control .tabs > li.active a {
            border-bottom-color: #ffffff;
            background-color: #ffffff;
            border-top: 2px #e51400 solid;
        }

        .metro .tab-control .tabs > li.active:hover a {
            background-color: #ffffff;
            color: #1d1d1d;
        }

        .metro .tab-control .tabs > li:hover a {
            background-color: #d5d5d5;
            color: #ffffff;
        }

        .metro .tab-control .tabs > li.place-right {
            float: right;
            margin-right: 5px;
            margin-left: auto;
        }

    .metro .tab-control .tabs.no-spaces > li {
        margin-left: 0;
    }

.metro .tab-control .frames {
    z-index: 1;
    border: 1px transparent solid;
    margin-top: -1px;
}

    .metro .tab-control .frames .frame {
        display: none;
    }

        .metro .tab-control .frames .frame:first-child {
            display: block;
        }

.metro .tab-control .frame {
    padding: 0px;
}

.metro .tab-control {
    /*max-width: 80%;*/
    margin: auto;
}
/*</editor-fold>*/
/* #Facultades
================================================== */
/*<editor-fold defaultstate="collapsed" desc="og-grid slide down">*/
.og-grid, .carreraWrap {
    list-style: none;
    padding: 20px 0 !important;
    margin: 0 auto !important;
    text-align: center;
    width: 100%;
}

    .og-grid li {
        display: inline-block;
        /*margin: 10px 5px 0 5px;*/
        margin: 10px 10px 40px 10px;
        vertical-align: top;
        -webkit-transition-property: top, left, opacity;
        -moz-transition-property: top, left, opacity;
        -ms-transition-property: top, left, opacity;
        -o-transition-property: top, left, opacity;
        transition-property: top, left, opacity;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
    }

   
.fac-title.span1 {
    height: 100%;
    /* margin-left: 10%!important; */
    margin-right: 10%;
    float: none !important;
    width: 100% !important;
    text-align: center;
}

.fac-title .title {
    font-size: 4.4rem;
    text-transform: uppercase;
    position: relative;
    vertical-align: top;
    color: #000;
    font-family: 'Adequate ExtraLight','Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 900;
    word-break: normal !important;
    -webkit-word-break: normal !important;
    -moz-word-break: normal !important;
    -ms-word-break: normal !important;
    -o-word-break: normal !important;
}
/*</editor-fold>*/



/**from view.html**/
/*CSS Document*/

* {
    margin: 0px;
    padding: 0;
}

html, body, #wrapperscroll, #porletwrap, .metro .mm-page {
    width: 100%;
    height: auto;
    /*background-color: #333;*/
}

/* NAV BAR SECTION */
#navigation {
    width: 100%;
    height: 100%;
    float: left;
}

#navBar {
    position: fixed;
    left: 0px;
    top: 50%;
    margin-top: -135px;
    z-index: 9999;
    font-size: 9px; /* 18px - 10px */
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    list-style: none;
}

    #navBar li {
        width: 150px;
        height: 45px;
        margin: 2px;
    }

        #navBar li .bloc {
            width: 10px;
            height: 45px;
            background-color: black;
            position: absolute;
            transition: all 0.4s linear;
            -ms-transition: all 0.4s linear;
            -moz-transition: all 0.4s linear;
            -webkit-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
        }

        #navBar li a {
        }

        #navBar li .menutxt {
            position: absolute;
            height: 25px;
            vertical-align: middle;
            margin-top: 10px;
            margin-left: 0px;
            opacity: 0;
            transition: all 0.4s linear;
            -ms-transition: all 0.4s linear;
            -moz-transition: all 0.4s linear;
            -webkit-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
        }

            #navBar li .menutxt span {
                vertical-align: middle;
            }
        /*hover*/
        #navBar li.current .menutxt, #navBar li:hover .menutxt {
            opacity: 1;
            margin-left: 20px;
            color: rgb(72,177,240);
        }

        #navBar li:hover .bloc, #navBar li.current .bloc {
            background-color: rgb(72,177,240);
            width: 12px;
            margin-left: -1px;
        }


/* FOR ALL SLIDES */

#wrapperscroll .slide {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.metro .slide {
    background-color: #fff;
}

#wrapperscroll .scrollbut:before {
    content: "\f078";
}

#wrapperscroll .scrollbut {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s; /* Safari */
    font-family: 'fontawesome-alloy';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: white !important;
    font-size: 200%;
    line-height: 200%;
    vertical-align: middle;
    text-align: center;
}

    #wrapperscroll .scrollbut:hover {
        background-color: rgba(255,255,255,0.6);
        cursor: pointer;
        transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s; /* Safari */
        text-decoration: none !important;
    }

    #wrapperscroll .scrollbut.last {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari and Chrome */
    }

/* SLIDES */

#slide3:before, #slide2:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
}

#slide2xx:after {
    bottom: 0;
    background: url('http://static9.cdn.ubi.com/resource/es-ES/game/tomclancy-thedivision/game/cache_bottom_agents.png') no-repeat;
    height: 214px;
    content: '';
    width: 100%;
    height: 77px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: url('http://static9.cdn.ubi.com/resource/es-ES/game/tomclancy-thedivision/game/cache_bottom_bloc_top.png') no-repeat;
}

.metro .pregradox {
    background-color: #dedede;
    min-height: 300px;
    height: auto;
    padding-bottom: 30px;
}

.metro .postgradox {
    background-color: #fff;
    min-height: 300px;
    height: auto;
    padding-bottom: 30px;
}


/**New**/
/* #Slick js
================================================== */
/*<editor-fold defaultstate="collapsed" desc="slick js">*/
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: none;
    }

.slick-loading .slick-list {
    background: white;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: pointer;
}

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}

    .slick-track:before, .slick-track:after {
        content: "";
        display: table;
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
    /*opacity: 0.5;*/
}

    .slick-slide img {
        display: block;
        pointer-events: none;
    }

    .slick-slide.slick-loading img {
        display: none;
    }

    .slick-slide.dragging img {
        pointer-events: none;
    }

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

/* Icons */
/* Arrows */
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}

    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        outline: none;
        background: transparent;
        color: transparent;
    }

        .slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
            opacity: 1;
        }

    .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
        opacity: 0.25;
    }

    .slick-prev:before, .slick-next:before {
        font-family: "fontawesome-alloy";
        font-size: 20px;
        line-height: 1;
        color: white;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.slick-prev {
    left: -25px;
}

    .slick-prev:before {
        content: "\2190";
    }

.slick-next {
    right: 0px;
}

    .slick-next:before {
        content: "\2192";
    }

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}

    .slick-dots li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

        .slick-dots li button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
        }

            .slick-dots li button:hover, .slick-dots li button:focus {
                outline: none;
            }

                .slick-dots li button:hover:before, .slick-dots li button:focus:before {
                    opacity: 1;
                }

            .slick-dots li button:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "\2022";
                width: 20px;
                height: 20px;
                font-family: "slick";
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                color: black;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        .slick-dots li.slick-active button:before {
            color: black;
            opacity: 0.75;
        }

[dir="rtl"] .slick-next {
    right: auto;
    left: -25px;
}

    [dir="rtl"] .slick-next:before {
        content: "\2190";
    }

[dir="rtl"] .slick-prev {
    right: -25px;
    left: auto;
}

    [dir="rtl"] .slick-prev:before {
        content: "\2192";
    }

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide.slick-active.slick-center {
    opacity: 1;
}
/*</editor-fold>*/

/* #Slide1
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Slide1">*/
.metro #wrapperscroll .slide {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#slide1 .membrete {
    height: 100%;
    margin-left: 200px;
    float: none !important;
    background-image: url(../images/facultades_p1_membreta.png);
    width: 320px !important;
    max-width: 90%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    padding-top: 150px;
    text-transform: uppercase;
    font-family: 'Open Sans Light';
    letter-spacing: 20px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

    #slide1 .membrete div {
        margin: auto;
        width: auto;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    #slide1 .membrete h3, #slide1 .membrete h2 {
        font-weight: normal;
        padding: 10px;
    }

.topBanner .banx, .topBanner .banx img {
    height: 350px;
    max-height: 100%;
    width: 500px;
    background-size: cover;
    background-position: 50% 50%;
}

#slide1 .facultad-in, #slide1 .detail {
    vertical-align: top;
    text-align: left;
    width: auto;
    max-width: 100%;
    margin-left: 520px;
    text-transform: uppercase;
    font-family: 'Adequate ExtraLight','Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*padding-top: 150px;*/
    padding-top: 45px;
    letter-spacing: 1px;
    /*padding-bottom: 150px;*/
    z-index: 3;
    position: relative;
    color: #000;
}

#slide1 .detail {
    padding-top: 50px;
    margin-left: 540px;
}

    #slide1 .detail h2, #slide1 .detail h1, #slide1 .detail h4 .og-expander-inner h2, .postgrados h2.h2, h2.h2, h3.h3, h4.h4, .metro .panel .panel-header {
        color: #4275b9;
        font-family: "Adequate ExtraLight",'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: normal;
    }

    /*#slide1 .detail p, .og-expander-inner p, .ipp {
        text-transform: none;
        text-align: justify;
        padding-right: 10%;
        padding-left: 40px;
        -webkit-font-smoothing: antialiased;
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: "Segoe UI Light_","Open Sans Light",Verdana,Arial,Helvetica,sans-serif;
        font-size: 16px;
        font-weight: normal;
    }*/

    #slide1 .detail .jefes {
        width: auto;
        float: right;
        padding-right: 10%;
        padding-left: 20px;
        border-left: 1px black solid;
    }

    #slide1 .detail h3 {
        text-transform: none;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 18px;
    }

.metro .slic > h1, .metro .slic > h2, .metro .slic > h3, .metro .slic > h2, .metro .slic > h4 {
    padding: 0;
}


.marginT10 {
    margin-top: 10px;
}

#slide1 .detail .cargox {
    text-transform: uppercase;
}

.animated.delay2 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animated.delay3 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#slide1 .carousel {
    background-color: rgba(0,0,0,0);
    height: auto !important;
}

    #slide1 .carousel .slic {
        min-height: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: 20px;
    }

    #slide1 .carousel .markers {
        z-index: 100;
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
        /* bottom: 10px; */
        left: 10px;
        clear: both;
        margin-top: 30px;
        float: right;
    }
/*</editor-fold>*/

/* #Carreras
================================================== */
/*<editor-fold defaultstate="collapsed" desc="#Carreras">*/
#slide2 .fac-title, #slide3 .fac-title, .metro .fac-title {
    margin-right: 0 !important;
}


.metro .carreraWrap {
    max-width: 900px;
    float: none;
}

.carreraWrap .carrera {
    background-color: #a28f23;
    width: 140px !important;
    height: 105px;
    font-family: "Segoe UI Light_","Open Sans Light",Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    text-wrap: normal !important;
    line-height: 24px;
    margin-bottom: 35px;
    z-index: 2;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    position: relative;
    text-decoration: none !important;
}

    .carreraWrap .carrera .btox {
        overflow: hidden;
        width: 100%;
        height: 38px;
        position: absolute;
        right: 0px;
        bottom: -34px;
        display: block !important;
        border: none;
        outline: none;
        display: block;
        vertical-align: middle;
    }

        .carreraWrap .carrera .btox:after {
            width: 173px;
            /* transform: rotate(2deg); */
            height: 78px;
            -webkit-border-bottom-left-radius: 100%;
            border-bottom-left-radius: 100%;
            background: #a28f23;
            z-index: 1;
            position: absolute;
            right: 0;
            bottom: 1px;
            content: '';
            outline: 1px solid transparent;
            overflow: hidden;
        }

    .carreraWrap .carrera:after {
        content: '';
        width: 100%;
        display: block;
        position: absolute;
        /*bottom: -34px;*/
        bottom: -45px;
        left: 0;
        /*background-image: url(../images/carreraBotom.png);*/
        height: 34px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        /*-webkit-box-shadow: inset 0px 10px 11px 0px rgba(50, 50, 50, 0.75);*/
    }

.carreraWrap .detailx .docs, .carreraWrap .detailx .doc, .carreraWrap .detailx img, .carreraWrap .detailx .span {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}


/* #Contenido generalidades
================================================== */

.metro .bg-circle {
    background-image: url(../images/bg-circle.png) !important;
}

/*</editor-fold>*/

/* #Slide3
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Slide3">*/
#slide3 .ipp {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 5px solid #a28f23;
}

.og-grid.posgrados {
}

    .og-grid.posgrados li {
        width: 100%;
        border-bottom: 1px solid #000;
        padding: 10px;
        margin: 0px;
        padding-bottom: 20px;
    }

        .og-grid.posgrados li:last-child {
            border: none;
        }

.metro h4.sub {
    letter-spacing: normal;
    color: #000;
    text-align: left;
}

#slide3 .span9.oferta {
    margin: auto !important;
    float: none;
}
/*</editor-fold>*/

/* #Noticias
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Noticias">*/

.noticies .noticeX {
    /*width: 280px;*/
    height: 280px;
    max-height: 100%;
    text-align: center; /* ensures the image is always in the h-middle */
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: -webkit-linear-gradient(-45deg, #000 0%,#fff 100%);
    background: linear-gradient(-45deg, #000 0%,#fff 100%);
}

    .noticies .noticeX.double, .noticies .noticeX {
        width: 300px;
    }

        .noticies .noticeX .img-0 {
            position: relative;
            display: block;
            margin: -10px 0 0 -10px;
            max-width: none;
            width: -webkit-calc(100% + 10px);
            width: calc(100% + 10px);
            height: -webkit-calc(100% + 10px);
            height: calc(100% + 10px);
            opacity: 0.9;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(10px,10px,0);
            transform: translate3d(10px,10px,0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-size: cover;
        }

        .noticies .noticeX .figcaption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
        }




/*---------------*/
/***** Lexi *****/
/*---------------*/

.noticeX .figcaption::before,
.noticeX .pp3 {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.noticeX .figcaption::before {
    position: absolute;
    right: -350px;
    bottom: 0px;
    width: 600px;
    height: 600px;
    /* border: 2px solid #fff; */
    border-radius: 50%;
    box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transform: scale3d(0.5,0.5,1);
    transform: scale3d(0.5,0.5,1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.noticeX:hover .img-0 {
    opacity: 0.6;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.noticeX:hover {
    border: 2px gray solid;
}

.noticeX .pp3 h2 {
    text-align: right;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(5px,5px,0);
    transform: translate3d(5px,5px,0);
    color: #fff;
    border-bottom: 3px #fff solid;
    padding: 4px 8px;
    font-family: "Adequate ExtraLight",'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 23px;
}

.noticeX .pp3 span {
    padding: 7px;
    font-size: 12px;
    height: 40px;
    display: block;
}

.noticeX .pp3 {
    position: absolute;
    right: 0;
    bottom: 0;
    /*padding: 0 1.5em 1.5em 0;*/
    width: 100%;
    text-align: right;
    opacity: 0;
    /*-webkit-transform: translate3d(20px,20px,0);
    transform: translate3d(20px,20px,0);*/
    background: rgba(0,0,0,0.7);
}

.noticeX:hover .figcaption::before {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.noticeX:hover .pp3 h2,
.noticeX:hover .pp3 {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.noticies {
}

.noticies {
}
/*</editor-fold>*/

/* #links de interes
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Links">*/
.metro .links h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Adequate ExtraLight",'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
}

.metro .links a {
    padding: 0;
    margin: 0;
}

.metro .links a {
    font-size: 53px;
    border-radius: 50%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    color: #9C9B9B;
    /* padding: 27px; */
    display: block;
    vertical-align: middle;
    /*line-height: 80px;*/
    position: relative;
    /* overflow: hidden; */
}

.metro .links li {
    padding: 0;
    margin-bottom: 0;
}

.metro .links a > i {
    line-height: 82px;
}

.metro .links a > img {
    margin-top: 18%;
}

.metro .links .og-grid {
    max-width: 900px;
}

.metro .links a > span {
    font-size: 13px;
    line-height: 14px;
    vertical-align: top;
    display: none;
    position: absolute;
    top: 0;
    padding: 5px;
    background-color: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
    padding-top: 30px;
    color: #fff;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    border-radius: 50%;
}

.metro .links li:hover a > span {
    display: block;
    -webkit-animation-name: scale;
    animation-name: scale;
}

.metro .links .sub-title {
    width: 80px !important;
    overflow: hidden;
    font-size: 12px;
    word-wrap: normal !important;
    max-width: 80px;
    display: block;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    border-radius: 50%;
    line-height: 15px;
}

.metro .links li:hover > .sub-title {
    opacity: 0;
}
/*</editor-fold>*/
/* #region Footer
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Footer">*/
.metro .footer {
    background-color: #343434 !important;
}

.aui #footer {
    text-align: left;
}

.metro .footer span {
    display: block;
}

.aui .footer .span4 {
    border-right: 2px solid #fff;
    float: right;
    padding: 5px;
    padding-right: 20px;
    margin-top: 20px;
    min-height: 300px;
    height: auto;
    padding-left: 20px;
    /*min-width: 270px;*/
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

    .aui .footer .span4:first-child {
        border: none;
    }

.footer .info, .footer h5 {
    text-align: right;
    color: #fff;
    margin-top: 20px;
}

.footer .social .og-grid {
    text-align: left;
}

.footer .social li {
    padding: 10px;
    margin: 0px;
}

.footer .social i {
    font-size: 30px;
    border-radius: 50%;
    background-color: #fff;
    width: 46px;
    height: 46px;
    color: #343434;
    padding: 8px;
    display: block;
    text-align: center;
}

.footer .social span, .footer .span4.blogs, .footer .blogs a {
    color: #fff;
}
    /*.footer .social a:hover i,*/ .footer .blogs a:hover {
        color: rgb(0,150,240);
    }

.footer .social a:hover i {
    background-color: rgb(0,150,240);
    color: #fff;
}

.footer .social a, .footer .social i, .footer .blogs a, .footer .blogs i {
    text-decoration: none;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer .blogs ul {
    margin-left: 20px;
    margin-top: 20px;
}

.footer .blogs i {
    margin-right: 10px;
}

.footer .blogs li {
    margin-bottom: 20px;
    color: #fff;
}
/*#endregion
    </editor-fold>*/

.clclc {
    background-color: #a28f23;
}

.grayx {
    background-color: #dedede;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.taglib-page-iterator {
    /* width: 100%; */
    width: 100%;
    margin: auto;
    max-width: 700px;
}
