
/* #rb-overlay
======================================================*/
/*<editor-fold defaultstate="collapsed" desc="rb-overlay">*/
.isotope {
    min-width: 300px !important;
}

.home .two_third, .home .one_third {
    margin: 0;
}

span.date {
    font-size: 10px;
    line-height: 10px;
    display: block;
    font-weight: normal;
    position: relative;
}

    span.date, span.date a {
        color: #555;
    }

        span.date a.bubble, span.date a.bubble:hover {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #fff !important;
        }

/* #Notices expander
================================================== */
.rb-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    z-index: 99999 !important;
    pointer-events: none;
    cursor: default;
    /*border:30px rgba(0,0,0,0.6) solid;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3) inset;*/
    border: 30px rgba(0,0,0,0) solid;
    background-color: rgba(0,0,0,0.6);
}

.rb-close, rb-next, rb-prev {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2em;
    height: 2em;
    text-indent: -9000px;
    cursor: pointer;
    z-index: 1000;
}

    .rb-close:before {
        content: 'x';
        font-weight: 100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 3em;
        line-height: 0.6;
        text-align: center;
        text-indent: 0px;
    }

.rb-week {
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    position: relative;
    display: block;
    max-width: 800px;
    margin: auto;
}

.rb-overlay .img-full:before {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.rb-overlay .img-full {
    margin-right: 20px;
    /* max-width: 500px; */
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    min-height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 20px;
}

.rb-overlay h2.full-title {
    /* clear: both; */
    position: relative;
    color: #4275b9;
    border-bottom: 2px solid #939393;
    font-size: 3rem;
    font-family: 'Adequate ExtraLight','Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-bottom: 10px;
}

.rb-overlay h3.sub-title {
    color: #686868;
    font-family: 'Adequate ExtraLight','Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.rb-overlay span.date {
    text-align: right;
    font-family:"Open Sans";
}

.rb-overlay .full-content {
    text-align: justify;
    position: relative;
    padding: 10px;
    height: 100%;
    overflow: hidden;
}

.rb-overlay .full-html {
    padding-bottom: 20px;
    padding-top: 20px;
}
/*TMP*/
.nivoSlider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.featured a.isobrick {
    background: none;
}
/*</editor-fold>*/

/* #Vacordion
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Vacordion">*/
/* Vertical Accordion Style */
.va-container {
    position: relative;
    margin: 40px auto 0 auto;
}

.va-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #000;
}

.va-slice {
    cursor: pointer;
    position: absolute;
    width: 100%;
    left: 0px;
    overflow: hidden;
    border-bottom: 1px solid #FFFFFF;
}

.metro .va-title {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    margin-right: 20px;
    color: #fff !important;
    text-align: right;
    z-index: 8;
    position: relative;
}

.va-content {
    display: none;
    margin-left: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/linebg-fade.png);
    background-position: top;
    background-repeat: repeat-x;
    z-index: 8;
}


.va-nav span {
    width: 40px;
    height: 25px;
    background: transparent url(../images/prev.png) no-repeat center center;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -20px;
    text-indent: -9000px;
    opacity: 0.7;
    cursor: pointer;
    display: none;
    z-index: 100;
}

    .va-nav span.va-nav-next {
        background-image: url(../images/next.png);
        top: auto;
        bottom: -35px;
    }

    .va-nav span:hover {
        opacity: 1.0;
    }

.va-slice:hover {
    background-size: 110% !important;
}

.va-slice img {
    transition: transform 0.45s, filter 0.45s;
    -webkit-transition: -webkit-transform 0.45s, -webkit-filter 0.45s;
    -moz-transition: -moz-transform 0.45s, -moz-filter 0.45s;
    -o-transition: -o-transform 0.45s, -o-filter 0.45s;
    -ms-transition: -ms-transform 0.45s, -ms-filter 0.45s;
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 7;
    position: absolute;
}

.va-slice:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
/*</editor-fold>*/

/* #Tabs
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Tabs">*/
.metro .tab-control .tabs {
    padding-left: 0;
    list-style: none;
    margin: 0 !important;
    z-index: 2;
}

    .metro .tab-control .tabs li ul,
    .metro .tab-control .tabs li ol {
        list-style: none;
        padding-left: 25px;
    }

    .metro .tab-control .tabs:before,
    .metro .tab-control .tabs:after {
        display: table;
        content: "";
    }

    .metro .tab-control .tabs:after {
        clear: both;
    }

    .metro .tab-control .tabs > li {
        background-color: #ffffff;
        display: block;
        float: left;
        margin-left: 5px;
        position: relative;
        min-width: 60px;
        -moz-transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

        .metro .tab-control .tabs > li.active {
            min-width: 70%;
        }

        .metro .tab-control .tabs > li > a {
            border: 1px #eeeeee solid;
            display: block;
            float: left;
            padding: 5px 10px;
            z-index: 10;
            top: 0;
            left: 0;
            color: inherit;
            background-color: #eeeeee;
        }

        .metro .tab-control .tabs > li.active a {
            border-bottom-color: #ffffff;
            background-color: #ffffff;
            border-top: 2px #e51400 solid;
        }

        .metro .tab-control .tabs > li.active:hover a {
            background-color: #ffffff;
            color: #1d1d1d;
        }

        .metro .tab-control .tabs > li:hover a {
            background-color: #d5d5d5;
            color: #ffffff;
        }

        .metro .tab-control .tabs > li.place-right {
            float: right;
            margin-right: 5px;
            margin-left: auto;
        }

    .metro .tab-control .tabs.no-spaces > li {
        margin-left: 0;
    }

.metro .tab-control .frames {
    z-index: 1;
    border: 1px transparent solid;
    margin-top: -1px;
}

    .metro .tab-control .frames .frame {
        display: none;
    }

        .metro .tab-control .frames .frame:first-child {
            display: block;
        }

.metro .tab-control .frame {
    padding: 0px;
}

.metro .tab-control {
    /*max-width: 80%;*/
    margin: auto;
}
/*</editor-fold>*/
/* #Facultades
================================================== */
/*<editor-fold defaultstate="collapsed" desc="og-grid slide down">*/
.og-grid .detailx {
    height: 0px;
    width: 0px;
    opacity: 0;
    line-height: 0px;
}

.og-grid, .carreraWrap {
    list-style: none;
    padding: 20px 0 !important;
    margin: 0 auto !important;
    text-align: center;
    width: 100%;
}

    .og-grid.fac {
        max-width: 760px;
        float: none;
    }


    .og-grid li {
        display: inline-block;
        /*margin: 10px 5px 0 5px;*/
        margin: 10px 10px 40px 10px;
        vertical-align: top;
        -webkit-transition-property: top, left, opacity;
        -moz-transition-property: top, left, opacity;
        -ms-transition-property: top, left, opacity;
        -o-transition-property: top, left, opacity;
        transition-property: top, left, opacity;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
    }

        .og-grid li > .og-a span {
            vertical-align: middle !important;
            position: relative;
            display: inline-block !important;
        }
        /**Responive facultades**/
        .og-grid li > .og-a span, .og-grid li > .og-a, .og-grid li > .og-a img, .may4 {
            width: 230px !important;
            /*height: 200px!important;*/
        }

            .og-grid li > .og-a span {
                font-size: 150px;
                color: white !important;
                padding-top: 25px;
                text-decoration: none !important;
            }

            /**Fin resposive**/

            .og-grid li > .og-a,
            .og-grid li > .og-a img, .may4 {
                border: none;
                outline: none;
                display: block;
                position: relative;
                text-decoration: none !important;
            }

                .og-grid li > .og-a:hover {
                }

        .og-grid li.og-expanded > .og-a::after, .og-grid li.og-expanded > .carrera::after {
            top: auto;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #fff;
            border-width: 15px;
            left: 50%;
            margin: -20px 0 0 -15px;
        }

.og-expander {
    /*position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;*/
    position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.og-expander-inner {
    padding: 50px 30px;
    height: 100%;
}

.metro .og-expander-inner p {
    padding-right: 15px;
    padding-left: 20px;
}

.og-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

    .og-close::before,
    .og-close::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        height: 1px;
        background: #888;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .og-close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .og-close:hover::before,
    .og-close:hover::after {
        background: #333;
    }

.og-fullimg,
.og-details {
    width: 100%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.og-details {
}

.og-fullimg {
    text-align: center;
}

    .og-fullimg img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
    }

.og-details h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
}

.og-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.og-details .og-a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
    text-decoration: none !important;
}

    .og-details .og-a::before {
        content: '\2192';
        display: inline-block;
        margin-right: 10px;
    }

    .og-details .og-a:hover {
        border-color: #999;
        color: #999;
    }

.og-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    -webkit-animation: loader 0.5s infinite ease-in-out both;
    -moz-animation: loader 0.5s infinite ease-in-out both;
    animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
    0% {
        background: #ddd;
    }

    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }

    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@-moz-keyframes loader {
    0% {
        background: #ddd;
    }

    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }

    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@keyframes loader {
    0% {
        background: #ddd;
    }

    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }

    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@media screen and (max-width: 850px) {

    .og-expander h3 {
        font-size: 32px;
    }

    .og-expander p {
        font-size: 13px;
    }

    .og-expander .og-a {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {

    .og-fullimg {
        display: none;
    }

    .og-details {
        float: none;
        width: 100%;
    }
}


.og-grid.fac .og-box {
    -webkit-box-shadow: 0px 9px 16px 1px rgba(50, 50, 50, 0.97);
    -moz-box-shadow: 0px 9px 16px 1px rgba(50, 50, 50, 0.97);
    box-shadow: 0px 9px 16px 1px rgba(50, 50, 50, 0.97);
}

.og-grid.fac h5, .og-grid.fac h4, .og-grid.fac .spreview {
    padding: 12px 12px 1px 12px;
    width: 100%;
    margin: 0px;
    text-align: left;
}

.og-grid.fac h5 {
    background-color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0,70,113);
}

.og-grid.fac h4 {
    background-color: white;
    font-family: 'Adequate ExtraLight','Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    line-height: 130%;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 6px;
}

.og-grid.fac .spreview {
    text-transform: uppercase;
    text-align: right;
    vertical-align: middle;
    line-height: 11px;
    font-size: 11px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #fff;
    display: block;
    font-family: 'Adequate ExtraLight','Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 12px;
    color: white;
    text-decoration: none !important;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
}

    .og-grid.fac .spreview:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .og-grid.fac .spreview:active, .og-grid.fac .spreview:focus {
        background-color: rgb(0,0,0);
    }

.fac-title.span1 {
    height: 100%;
    /* margin-left: 10%!important; */
    margin-right: 10%;
    float: none !important;
    width: 100% !important;
    text-align: center;
}

.fac-title .title {
    font-size: 4.4rem;
    text-transform: uppercase;
    position: relative;
    vertical-align: top;
    color: #000;
    font-family: 'Adequate ExtraLight','Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 900;
    word-break: normal !important;
    -webkit-word-break: normal !important;
    -moz-word-break: normal !important;
    -ms-word-break: normal !important;
    -o-word-break: normal !important;
}
/*</editor-fold>*/


/*<editor-fold defaultstate="collapsed" desc="hint">*/
.metro .hint {
    position: fixed;
    color: #1d1d1d;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: auto;
    max-width: 220px;
    margin-top: 10px;
    z-index: 1030;
    display: none;
    border: 1px solid;
    border-color: #6a6a6a;
    margin-left: 30px;
}

    .metro .hint .hint-title,
    .metro .hint .hint-text {
        color: inherit;
        text-align: left;
    }

    .metro .hint .hint-title {
        font-size: 1.2em;
        font-weight: bold;
    }

    .metro .hint:before,
    .metro .hint:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        -webkit-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        -ms-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        -ms-animation-delay: 0.1s;
        -o-animation-delay: 0.1s;
        animation-delay: 0.1s;
        -webkit-animation-name: hintx;
        -moz-animation-name: hintx;
        -ms-animation-name: hintx;
        -o-animation-name: hintx;
        animation-name: hintx;
    }

@-webkit-keyframes hintx {
    0% {
        height: 0px;
        width: 0px;
    }
}

.metro .hint:before {
    z-index: 2;
    top: -1px;
    left: 12px;
    /* border-top: 5px solid black; */
    /* border-right: 4px solid black; */
    width: 12px;
    /* margin-left: -30px; */
    background: black;
    height: 4px;
    margin-left: -25px;
}

.metro .hint:after {
    z-index: 1;
    top: -1px;
    left: 12px;
    width: 5px;
    background: black;
    height: 10px;
    margin-left: -25px;
    margin-top: -18px;
}

.metro .hint.bottom:before,
.metro .hint.bottom:after {
}

.metro .hint.bottom:after {
    top: 0;
    border-bottom: 10px solid;
}




.metro .hint.top:before,
.metro .hint.top:after {
    top: 100%;
    margin-top: -1px;
    left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fffcc0;
}

.metro .hint.top:after {
    margin-top: 1px;
    border-top: 10px solid;
}

.metro .hint.left:before,
.metro .hint.left:after {
    top: 5px;
    left: 100%;
    margin-left: -1px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #fffcc0;
}

.metro .hint.left:after {
    margin-left: 0;
    border-left: 10px solid;
}

.metro .hint.right:before,
.metro .hint.right:after {
    top: 5px;
    left: -9px;
    margin: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #fffcc0;
}

.metro .hint.right:after {
    left: -10px;
    border-right: 10px solid;
}
/*</editor-fold>*/

/**has Full view**/
.has-full-view-content {
    opacity: 0;
    height: 0px;
    width: 0px;
}
/*#Scroll
================================================== */
.ps-container .ps-scrollbar-x-rail {
    position: absolute;
    bottom: 3px;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: background-color .2s linear,opacity .2s linear;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    -moz-transition: background-color .2s linear,opacity .2s linear;
    transition: background-color .2s linear,opacity .2s linear;
}

    .ps-container .ps-scrollbar-x-rail:hover, .ps-container .ps-scrollbar-x-rail.hover {
        background-color: #eee;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .ps-container .ps-scrollbar-x-rail.in-scrolling {
        background-color: #eee;
        opacity: .9;
        filter: alpha(opacity=90);
    }

.ps-container:hover .ps-scrollbar-x-rail, .ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0;
    filter: alpha(opacity=0);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute;
    right: 3px;
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: background-color .2s linear,opacity .2s linear;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    -moz-transition: background-color .2s linear,opacity .2s linear;
    transition: background-color .2s linear,opacity .2s linear;
}

.ps-container .ps-scrollbar-y-rail, .ps-container.hover .ps-scrollbar-y-rail {
    opacity: .6;
    filter: alpha(opacity=60);
}

    .ps-container .ps-scrollbar-y-rail, .ps-container .ps-scrollbar-y-rail.hover {
        background-color: #eee;
        opacity: .9;
        filter: alpha(opacity=90);
        margin-top: 20px;
    }

        .ps-container .ps-scrollbar-y-rail.in-scrolling {
            background-color: #eee;
            opacity: .9;
            filter: alpha(opacity=90);
        }

.ps-container .ps-scrollbar-x {
    position: absolute;
    bottom: 0;
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0;
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}

.ps-container .ps-scrollbar-y {
    position: absolute;
    right: 0;
    width: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0;
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y, .ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}

.ps-container.ie .ps-scrollbar-x, .ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x, .ps-container.ie:hover .ps-scrollbar-y, .ps-container.ie.hover .ps-scrollbar-x, .ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}

/**from view.html**/
/*CSS Document*/

* {
    margin: 0px;
    padding: 0;
}

html, body, #wrapperscroll, #porletwrap, .metro .mm-page {
    width: 100%;
    height: auto;
    /*background-color: #333;*/
}

/* NAV BAR SECTION */
#navigation {
    width: 100%;
    height: 100%;
    float: left;
}

#navBar {
    position: fixed;
    left: 0px;
    top: 50%;
    margin-top: -135px;
    z-index: 88888;
    font-size: 9px; /* 18px - 10px */
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    list-style: none;
}

    #navBar li {
        width: 150px;
        height: 45px;
        margin: 2px;
    }

        #navBar li .bloc {
            width: 10px;
            height: 45px;
            background-color: black;
            position: absolute;
            transition: all 0.4s linear;
            -ms-transition: all 0.4s linear;
            -moz-transition: all 0.4s linear;
            -webkit-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
        }

        #navBar li a {
        }

        #navBar li .menutxt {
            position: absolute;
            height: 25px;
            vertical-align: middle;
            margin-top: 10px;
            margin-left: 0px;
            opacity: 0;
            transition: all 0.4s linear;
            -ms-transition: all 0.4s linear;
            -moz-transition: all 0.4s linear;
            -webkit-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
        }

            #navBar li .menutxt span {
                vertical-align: middle;
            }
        /*hover*/
        #navBar li.current .menutxt, #navBar li:hover .menutxt {
            opacity: 1;
            margin-left: 20px;
            color: rgb(72,177,240);
        }

        #navBar li:hover .bloc, #navBar li.current .bloc {
            background-color: rgb(72,177,240);
            width: 12px;
            margin-left: -1px;
        }


/* FOR ALL SLIDES */

#wrapperscroll .slide {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.metro .slide {
    background-color: #fff;
}

#wrapperscroll .scrollbut:before {
    content: "\f078";
}

#wrapperscroll .scrollbut {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s; /* Safari */
    font-family: 'fontawesome-alloy';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: white !important;
    font-size: 200%;
    line-height: 200%;
    vertical-align: middle;
    text-align: center;
}

    #wrapperscroll .scrollbut:hover {
        background-color: rgba(255,255,255,0.6);
        cursor: pointer;
        transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s; /* Safari */
        text-decoration: none !important;
    }

    #wrapperscroll .scrollbut.last {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari and Chrome */
    }

/* SLIDES */

#slide3:before, #slide2:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
}

#slide2xx:after {
    bottom: 0;
    background: url('http://static9.cdn.ubi.com/resource/es-ES/game/tomclancy-thedivision/game/cache_bottom_agents.png') no-repeat;
    height: 214px;
    content: '';
    width: 100%;
    height: 77px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: url('http://static9.cdn.ubi.com/resource/es-ES/game/tomclancy-thedivision/game/cache_bottom_bloc_top.png') no-repeat;
}

.metro .pregradox {
    background-color: #dedede;
    min-height: 300px;
    height: auto;
    padding-bottom: 30px;
}

.metro .postgradox {
    background-color: #fff;
    min-height: 300px;
    height: auto;
    padding-bottom: 30px;
}


/**New**/
/* #Slick js
================================================== */
/*<editor-fold defaultstate="collapsed" desc="slick js">*/
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: none;
    }

.slick-loading .slick-list {
    background: white;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: pointer;
}

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}

    .slick-track:before, .slick-track:after {
        content: "";
        display: table;
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
    /*opacity: 0.5;*/
}

    .slick-slide img {
        display: block;
        pointer-events: none;
    }

    .slick-slide.slick-loading img {
        display: none;
    }

    .slick-slide.dragging img {
        pointer-events: none;
    }

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

/* Icons */
/* Arrows */
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}

    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        outline: none;
        background: transparent;
        color: transparent;
    }

        .slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
            opacity: 1;
        }

    .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
        opacity: 0.25;
    }

    .slick-prev:before, .slick-next:before {
        font-family: "fontawesome-alloy";
        font-size: 20px;
        line-height: 1;
        color: white;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.slick-prev {
    left: -25px;
}

    .slick-prev:before {
        content: "\2190";
    }

.slick-next {
    right: 0px;
}

    .slick-next:before {
        content: "\2192";
    }

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}

    .slick-dots li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

        .slick-dots li button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
        }

            .slick-dots li button:hover, .slick-dots li button:focus {
                outline: none;
            }

                .slick-dots li button:hover:before, .slick-dots li button:focus:before {
                    opacity: 1;
                }

            .slick-dots li button:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "\2022";
                width: 20px;
                height: 20px;
                font-family: "slick";
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                color: black;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        .slick-dots li.slick-active button:before {
            color: black;
            opacity: 0.75;
        }

[dir="rtl"] .slick-next {
    right: auto;
    left: -25px;
}

    [dir="rtl"] .slick-next:before {
        content: "\2190";
    }

[dir="rtl"] .slick-prev {
    right: -25px;
    left: auto;
}

    [dir="rtl"] .slick-prev:before {
        content: "\2192";
    }

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide.slick-active.slick-center {
    opacity: 1;
}
/*</editor-fold>*/

/* #Slide1
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Slide1">*/
.metro #wrapperscroll .slide {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#slide1 .membrete {
    height: 100%;
    margin-left: 200px;
    float: none !important;
    background-image: url(../images/facultades_p1_membreta.png);
    width: 320px !important;
    max-width: 90%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    padding-top: 150px;
    text-transform: uppercase;
    font-family: 'Open Sans Light';
    letter-spacing: 20px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}
    #slide1 .membrete div {
    margin: auto;width: auto; margin-bottom:20px;
    }
    #slide1 .membrete h3,#slide1 .membrete h2 {
    font-weight:normal;
    }

.topBanner .banx, .topBanner .banx img {
    height: 350px;
    max-height: 100%;
    width: 500px;
    background-size: cover;
    background-position: 50% 50%;
}

#slide1 .facultad-in, #slide1 .detail {
    vertical-align: top;
    text-align: left;
    width: auto;
    max-width: 100%;
    margin-left: 520px;
    text-transform: uppercase;
    font-family: 'Adequate ExtraLight','Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*padding-top: 150px;*/
    padding-top:45px;
    letter-spacing: 1px;
    /*padding-bottom: 150px;*/
    z-index: 3;
    position: relative;
    color: #000;
}

#slide1 .detail {
    padding-top: 50px;
    margin-left: 540px;
}

    #slide1 .detail h2, .og-expander-inner h2, .postgrados h2.h2, h2.h2, h3.h3, h4.h4, .metro .panel .panel-header {
        color: #4275b9;
        font-family: "Adequate ExtraLight",'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: normal;
    }

    #slide1 .detail p, .og-expander-inner p, .ipp {
        text-transform: none;
        text-align: justify;
        padding-right: 10%;
        padding-left: 40px;
        -webkit-font-smoothing: antialiased;
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: "Segoe UI Light_","Open Sans Light",Verdana,Arial,Helvetica,sans-serif;
        font-size: 16px;
        font-weight: normal;
    }

    #slide1 .detail .jefes {
        width: auto;
        float: right;
        padding-right: 10%;
        padding-left: 20px;
        border-left: 1px black solid;
    }

    #slide1 .detail h3 {
        text-transform: none;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 18px;
    }

.marginT10 {
    margin-top: 10px;
}

#slide1 .detail .cargox {
    text-transform: uppercase;
}

.animated.delay2 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animated.delay3 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#slide1 .carousel {
    background-color: rgba(0,0,0,0);
    height: auto !important;
}

    #slide1 .carousel .slic {
        min-height: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: 20px;
    }

    #slide1 .carousel .markers {
        z-index: 100;
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
        /* bottom: 10px; */
        left: 10px;
        clear: both;
        margin-top: 30px;
        float: right;
    }
/*</editor-fold>*/

/* #Carreras
================================================== */
/*<editor-fold defaultstate="collapsed" desc="#Carreras">*/
#slide2 .fac-title, #slide3 .fac-title, .metro .fac-title {
    margin-right: 0 !important;
}


.metro .carreraWrap {
    max-width: 900px;
    float: none;
}

.carreraWrap .carrera {
    background-color: #a28f23;
    width: 140px !important;
    height: 105px;
    font-family: "Segoe UI Light_","Open Sans Light",Verdana,Arial,Helvetica,sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    text-wrap: normal !important;
    line-height: 24px;
    margin-bottom: 35px;
    z-index: 2;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    position: relative;
    text-decoration: none !important;
}

    .carreraWrap .carrera .btox {
        overflow: hidden;
        width: 100%;
        height: 38px;
        position: absolute;
        right: 0px;
        bottom: -34px;
        display: block !important;
        border: none;
        outline: none;
        display: block;
        vertical-align: middle;
    }

        .carreraWrap .carrera .btox:after {
            width: 173px;
            /* transform: rotate(2deg); */
            height: 78px;
            -webkit-border-bottom-left-radius: 100%;
            border-bottom-left-radius: 100%;
            background: #a28f23;
            z-index: 1;
            position: absolute;
            right: 0;
            bottom: 1px;
            content: '';
            outline: 1px solid transparent;
            overflow: hidden;
        }

    .carreraWrap .carrera:after {
        content: '';
        width: 100%;
        display: block;
        position: absolute;
        /*bottom: -34px;*/
        bottom: -45px;
        left: 0;
        /*background-image: url(../images/carreraBotom.png);*/
        height: 34px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        /*-webkit-box-shadow: inset 0px 10px 11px 0px rgba(50, 50, 50, 0.75);*/
    }

.carreraWrap .detailx .docs, .carreraWrap .detailx .doc, .carreraWrap .detailx img, .carreraWrap .detailx .span {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}


/* #Contenido generalidades
================================================== */
.metro .grilla, .metro .grilla-dark {
    background-image: url(../images/panel2_grilla.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.metro .grilla-dark {
    background-image: url(../images/grilla_dark.jpg) !important;
}
.metro .bg-circle {
    background-image: url(../images/bg-circle.png) !important;
}
.metro .img-cover {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
/*</editor-fold>*/

/* #Slide3
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Slide3">*/
#slide3 .ipp {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 5px solid #a28f23;
}

.og-grid.posgrados {
}

    .og-grid.posgrados li {
        width: 100%;
        border-bottom: 1px solid #000;
        padding: 10px;
        margin: 0px;
        padding-bottom: 20px;
    }

        .og-grid.posgrados li:last-child {
            border: none;
        }

.metro h4.sub {
    letter-spacing: normal;
    color: #000;
    text-align: left;
}

#slide3 .span9.oferta {
    margin: auto !important;
    float: none;
}
/*</editor-fold>*/

/* #Noticias
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Noticias">*/

.noticies .noticeX {
    /*width: 280px;*/
    height: 280px;
    max-height: 100%;
    text-align: center; /* ensures the image is always in the h-middle */
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: -webkit-linear-gradient(-45deg, #000 0%,#fff 100%);
    background: linear-gradient(-45deg, #000 0%,#fff 100%);
}

    .noticies .noticeX.double, .noticies .noticeX {
        width: 300px;
    }

        .noticies .noticeX img.img-0 {
            position: relative;
            display: block;
            margin: -10px 0 0 -10px;
            max-width: none;
            width: -webkit-calc(100% + 10px);
            width: calc(100% + 10px);
            opacity: 0.9;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(10px,10px,0);
            transform: translate3d(10px,10px,0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .noticies .noticeX .figcaption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
        }




/*---------------*/
/***** Lexi *****/
/*---------------*/

.noticeX .figcaption::before,
.noticeX .pp3 {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.noticeX .figcaption::before {
    position: absolute;
    right: -350px;
    bottom: 0px;
    width: 600px;
    height: 600px;
    /* border: 2px solid #fff; */
    border-radius: 50%;
    box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transform: scale3d(0.5,0.5,1);
    transform: scale3d(0.5,0.5,1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.noticeX:hover img.img-0 {
    opacity: 0.6;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.noticeX:hover {
    border: 2px gray solid;
}

.noticeX .pp3 h2 {
    text-align: right;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(5px,5px,0);
    transform: translate3d(5px,5px,0);
    color: #fff;
    border-bottom: 3px #fff solid;
    padding: 4px 8px;
    font-family: "Adequate ExtraLight",'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 23px;
}

.noticeX .pp3 span {
    padding: 7px;
    font-size: 12px;
    height: 40px;
    display: block;
}

.noticeX .pp3 {
    position: absolute;
    right: 0;
    bottom: 0;
    /*padding: 0 1.5em 1.5em 0;*/
    width: 100%;
    text-align: right;
    opacity: 0;
    /*-webkit-transform: translate3d(20px,20px,0);
    transform: translate3d(20px,20px,0);*/
    background: rgba(0,0,0,0.7);
}

.noticeX:hover .figcaption::before {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.noticeX:hover .pp3 h2,
.noticeX:hover .pp3 {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.noticies {
}

.noticies {
}
/*</editor-fold>*/

/* #links de interes
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Links">*/
.metro .links h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Adequate ExtraLight",'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
}

.metro .links a {
    padding: 0;
    margin: 0;
}

.metro .links a {
    font-size: 53px;
    border-radius: 50%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    color: #9C9B9B;
    /* padding: 27px; */
    display: block;
    vertical-align: middle;
    line-height: 80px;
    position: relative;
    /* overflow: hidden; */
}

.metro .links li {
    padding: 0px;
    margin-bottom: 0px;
}

.metro .links .og-grid {
    max-width: 900px;
}

.metro .links a > span {
    font-size: 13px;
    line-height: 14px;
    vertical-align: top;
    display: none;
    position: absolute;
    top: 0px;
    padding: 5px;
    background-color: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
    padding-top: 30px;
    color: #fff;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    border-radius: 50%;
}

.metro .links li:hover a > span {
    display: block;
    -webkit-animation-name: scale;
    animation-name: scale;
}

.metro .links .sub-title {
    width: 80px !important;
    overflow: hidden;
    font-size: 12px;
    word-wrap: normal !important;
    max-width: 80px;
    display: block;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    border-radius: 50%;
    line-height: 15px;
}

.metro .links li:hover > .sub-title {
    opacity: 0;
}
/*</editor-fold>*/
/* #region Footer
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Footer">*/
.metro .footer {
    background-color: #343434 !important;
}
.aui #footer {
    text-align:left;
}

    .metro .footer span {
        display: block;
    }

.aui .footer .span4 {
    border-right: 2px solid #fff;
    float: right;
    padding: 5px;
    padding-right: 20px;
    margin-top: 20px;
    min-height: 300px;
    height: auto;
    padding-left: 20px;
    /*min-width: 270px;*/
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

    .aui .footer .span4:first-child {
        border: none;
    }

.footer .info, .footer h5 {
    text-align: right;
    color: #fff;
    margin-top: 20px;
}

.footer .social .og-grid {
    text-align: left;
}

.footer .social li {
    padding: 10px;
    margin: 0px;
}

.footer .social i {
    font-size: 30px;
    border-radius: 50%;
    background-color: #fff;
    width: 46px;
    height: 46px;
    color: #343434;
    padding: 8px;
    display: block;
    text-align: center;
}

.footer .social span, .footer .span4.blogs, .footer .blogs a {
    color: #fff;
}
    /*.footer .social a:hover i,*/ .footer .blogs a:hover {
        color: rgb(0,150,240);
    }

.footer .social a:hover i {
    background-color: rgb(0,150,240);
    color: #fff;
}

.footer .social a, .footer .social i, .footer .blogs a, .footer .blogs i {
    text-decoration: none;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer .blogs ul {
    margin-left: 20px;
    margin-top: 20px;
}

.footer .blogs i {
    margin-right: 10px;
}

.footer .blogs li {
    margin-bottom: 20px;
    color: #fff;
}
/*#endregion
    </editor-fold>*/


.clclc {
    background-color: #a28f23;
}

.grayx {
    background-color: #dedede;
}

.metro span, .aui span {
    font-family: "Segoe UI Light_","Open Sans Light",Verdana,Arial,Helvetica,sans-serif;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.taglib-page-iterator {
    /* width: 100%; */
    width: 100%;
    margin: auto;
    max-width: 700px;
}
