/* FOR ALL SLIDES */
/*#region com*/
#wrapperscroll .slide {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

    #wrapperscroll .slide:first-child, #breadcrumbs {
        padding-top: 45px;
    }

#breadcrumbs {
}

.metro .slide {
    background-color: #fff;
}

* {
    margin: 0px;
    padding: 0;
}

html, body, #wrapperscroll, #porletwrap, .metro .mm-page {
    width: 100%;
    height: 100%;
    /*background-color: #333;*/
}

span.date {
    font-size: 10px;
    line-height: 10px;
    display: block;
    font-weight: normal;
    position: relative;
}

    span.date, span.date a {
        color: #555;
    }

        span.date a.bubble, span.date a.bubble:hover {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #fff !important;
        }

/*#endregion*/

/*#region metro calendar*/
.metro .calendar {
    width: 250px;
    border: 1px #eeeeee solid;
    font-size: 10pt;
}

    .metro .calendar table {
        width: 100%;
        border-collapse: collapse;
    }

    .metro .calendar td,
    .metro .calendar th {
        padding: 0;
        width: 14.28%;
    }

    .metro .calendar td {
        border: 1px solid;
        border-color: #e6f5fc;
    }

        .metro .calendar td:first-child {
            border-left: 0;
        }

        .metro .calendar td:last-child {
            border-right: 0;
        }

    .metro .calendar tr:last-child td {
        border-bottom: 0;
    }

    .metro .calendar .day-of-week {
        padding: 5px;
        cursor: default;
    }

    .metro .calendar a {
        display: block;
        padding: 5px;
    }

        .metro .calendar a:hover {
            background-color: #eeeeee;
            color: #1d1d1d;
        }

    .metro .calendar .calendar-header {
        background-color: #1ba1e2;
        color: #ffffff;
    }

        .metro .calendar .calendar-header td,
        .metro .calendar .calendar-header th {
            border: 0 !important;
        }

            .metro .calendar .calendar-header td a,
            .metro .calendar .calendar-header th a {
                color: #ffffff;
            }

                .metro .calendar .calendar-header td a:hover,
                .metro .calendar .calendar-header th a:hover {
                    background-color: #1ba1e2;
                    color: #ffffff;
                }

    .metro .calendar .calendar-actions td,
    .metro .calendar .calendar-actions th {
        padding: 10px;
    }

    .metro .calendar .today a {
        background-color: #a0e857;
        color: #1d1d1d;
    }

        .metro .calendar .today a:hover {
            background-color: #128023;
            color: #ffffff;
        }

    .metro .calendar .day a {
        display: block;
        position: relative;
        border: 2px transparent solid;
    }

        .metro .calendar .day a.selected {
            border: 4px #4390df solid;
            border-width: 1px;
        }

            .metro .calendar .day a.selected:after {
                position: absolute;
                display: block;
                border-top: 28px solid #4390df;
                border-left: 28px solid transparent;
                right: 0;
                content: "";
                top: 0;
                z-index: 101;
            }

            .metro .calendar .day a.selected:before {
                position: absolute;
                display: block;
                content: "\e003";
                color: #fff;
                right: 0;
                font-family: 'metroSysIcons';
                font-size: 9pt;
                font-weight: normal;
                z-index: 102;
                top: 0;
            }

            .metro .calendar .day a.selected:after {
                border-top-width: 12px;
                border-left-width: 12px;
            }

            .metro .calendar .day a.selected:before {
                font-size: 4pt;
            }

    .metro .calendar .month a,
    .metro .calendar .year a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .metro .calendar .other-day {
        display: block;
        text-align: center;
        color: #999999;
    }

.metro .calendar-dropdown {
    border: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
}

/*#endregion*/

/*#region noticies*/
/*noticias*/
.og-grid .detailx {
    height: 0px;
    width: 0px;
    opacity: 0;
    line-height: 0px;
}

.og-grid {
    list-style: none;
    padding: 20px 0 !important;
    margin: 0 auto !important;
    text-align: left;
    width: 100%;
}

    .og-grid > li {
        display: inline-block;
        /*margin: 10px 10px 14.5px 10px;*/
        margin: 1px -1px;
        vertical-align: top;
        -webkit-transition-property: top, left, opacity;
        -moz-transition-property: top, left, opacity;
        -ms-transition-property: top, left, opacity;
        -o-transition-property: top, left, opacity;
        transition-property: top, left, opacity;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }




.metro .full-noticies {
    margin-top: 60px;
}

.full-noticies .noticiesWrap, .metro .calendarWrap {
    float: left;
}

.full-noticies .noticiesWrap {
    width: calc(100% - 270px);
    margin-left: 20px;
}

.full-noticies .calendarWrap {
    min-width: 250px;
    width: 250px;
    margin: auto;
}

.metro .full-noticies .contentwrap {
    max-width: 1200px;
}



.full-noticies .calendarWrap {
    text-align: center;
}

.noticiesWrap .noti-item {
    width: 100%;
    max-width: 300px;
    margin: auto;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    height: 145px;
    overflow: hidden;
    float: left;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: -1px;
    border-right: 1px solid #000;
}

    .noticiesWrap .noti-item:hover {
        opacity: 1;
    }

    .noticiesWrap .noti-item .noti-detail, .noticiesWrap .noti-item > .img-full {
        float: right;
        display: inline-block;
        position: relative;
    }

    .noticiesWrap .noti-item .oculto {
        display: none !important;
    }

    .noticiesWrap .noti-item .noti-detail {
        width: 170px;
        padding-right: 4px;
    }

    .noticiesWrap .noti-item > .img-full {
        width: 110px;
        height: 100px;
        margin: 15px 0 10px 5px;
    }

    .noticiesWrap .noti-item .noti-detail > h5 {
        font-size: 15px;
        line-height: 17px;
        font-weight: bold;
    }

    .noticiesWrap .noti-item .noti-detail p {
        font-size: 12px;
        height: 50px;
        overflow: hidden;
    }

.noticiesWrap span.date {
    margin-bottom: 10px;
}

/*#endregion*/
