html, body, #wrapperscroll, #porletwrap, .metro .mm-page, #dcmmenu, #loader, #loader2 {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

    #loader2 img {
        display: block;
        margin: auto;
    }



#loader, #loader2 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 99999;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;
    animation-duration: 2.5s;
    /*position: absolute;*/
    opacity: 1;
    position: fixed;
}

#loader2 {
    background-color: #000000;
    overflow: hidden;
}

@-webkit-keyframes circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes inner-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-moz-keyframes circle {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes inner-circle {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-ms-keyframes circle {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes inner-circle {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-o-keyframes circle {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes inner-circle {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

#div1 {
    margin: 20px auto 0;
    color: orange;
    font-size: 100px;
    line-height: 1;
    -moz-animation: circle 5s linear infinite;
    -o-animation: circle 5s linear infinite;
    -webkit-animation: circle 5s linear infinite;
    animation: circle 5s linear infinite;
    -moz-transform-origin: 50% 51%;
    -ms-transform-origin: 50% 51%;
    -o-transform-origin: 50% 51%;
    -webkit-transform-origin: 50% 51%;
    transform-origin: 50% 51%;
    -moz-animation-fill-mode: both;
}

#div2 {
    -moz-animation: inner-circle 5s linear infinite;
    -o-animation: inner-circle 5s linear infinite;
    -webkit-animation: inner-circle 5s linear infinite;
    animation: inner-circle 5s linear infinite;
}

.spinner {
    margin: 10px auto 0;
    width: 70px;
    text-align: center;
    /*-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));*/
}

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #4CEBFF;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
