/*#region dockbar*/

.app-bar .app-bar-drop-container {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    /*border: 2px solid #005696;*/
    background-color: rgba(255,255,255,0.97);
    border-radius: 0;
}

    .app-bar .app-bar-drop-container:before {
        content: '';
        position: absolute;
        background-color: rgba(255,255,255,0.8);
        width: 10px;
        height: 10px;
        border: 1px solid rgba(0,0,0,0.2);
        top: 1px;
        left: 1rem;
        margin: -8px 0;
        border-bottom: none;
        border-right: none;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .app-bar .app-bar-drop-container:before {
        z-index: 0;
    }

    .app-bar .app-bar-drop-container.place-right {
        right: 6%;
        left: auto;
    }

        .app-bar .app-bar-drop-container.place-right:before {
            left: auto;
            right: 1rem;
        }





















.tile-container {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.metro .tile-container.og-grid {
    padding: 10px !important;
    text-align: center !important;
}

.tile-container.og-grid > li {
    margin: 1px -1px;
}

.tile-container:before,
.tile-container:after {
    display: table;
    content: "";
}

.tile-container:after {
    clear: both;
}

.metro .tile-small {
    height: 110px;
    display: block;
    float: left;
    margin: 5px;
    box-shadow: inset 0 0 1px #000;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
    width: 88px;
}


    .metro .tile-small:hover {
        background-color: rgba(0, 118, 189, 0.2);
        box-shadow: inset 0 0 3px rgb(0, 118, 189);
    }

.tile-small:hover .tile-content.iconic .icon {
    -moz-animation: latido 1.5s infinite ease-in-out;
    -o-animation: latido 1.5s infinite ease-in-out;
    -webkit-animation: latido 1.5s infinite ease-in-out;
    animation: latido 1.5s infinite ease-in-out;
    color: #0076bd !important;
}

.metro .tile-small.no-anim, .metro .tile-small.no-anim:hover, .tile-small.no-anim .tile-content.iconic .icon {
    -moz-animation: none;
    -o-animation: none;
    -webkit-animation: none;
    animation: none;
}

@-ms-keyframes latido {
    0% {
        -moz-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -o-transform: scale(0.99);
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
    }

    60% {
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -moz-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -o-transform: scale(0.99);
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
    }
}

@keyframes latido {
    0% {
        -moz-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -o-transform: scale(0.99);
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
    }

    60% {
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -moz-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -o-transform: scale(0.99);
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
    }
}

.metro .tile-small:active {
    outline: 0;
}

.tile-content:first-child {
    display: block;
}


.tile-small .tile-content.iconic .icon {
    /*top: 0;
    margin-top: 0;
    left: 49%;
    font-size: 60px;
    margin-left: -30px;
    color: #0076bd;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 64px;
    text-align: center;*/
    top: 0;
    margin-top: 0;
    left: 0;
    font-size: 60px;
    /* margin-left: -30px; */
    color: #0076bd;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 64px;
    text-align: center;
}

.tile-small .tile-label {
    display: block;
    z-index: 999;
    font-size: 13px;
    width: 100%;
    text-align: center;
    color: #000;
    line-height:normal;
}

.metro .dock-more {
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    background-color: #f5f5f5;
    display: block;
    margin-bottom: -5px;
    color: #737373;
    cursor: pointer;
}

    .metro .dock-more:hover {
        background-color: #737373;
        color: #fff;
    }
/*#endregion*/

/*#region trasparencia*/
.ley .divider {
    height: 3px !important;
    margin-top: 30px !important;
}

.ley h1 {
    margin-top: 100px;
}

.metro .ley .contentwrap {
    padding-top: 0;
}

.metro .ley .og-grid {
}

.ley .og-grid .year {
    width: 140px !important;
    height: 140px !important;
    background-color: rgb(0,118,189);
    color: #ffffff;
    line-height: 140px;
    text-align: left;
    font-size: 25px;
    font-family: 'Adequate ExtraLight';
}

.ley .og-grid {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

    .ley .og-grid li {
        display: inline-block;
        margin: 10px 5px 5px 5px;
        vertical-align: top;
        /*height: 250px;*/
    }

        .ley .og-grid li > a,
        .og-grid li > a img {
            border: none;
            outline: none;
            display: block;
            position: relative;
        }

.og-grid li.og-expanded > a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ddd;
    border-width: 15px;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.og-expander {
    position: absolute;
    background: #ddd;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;
}

.og-expander-inner {
    padding: 50px 30px;
    height: 100%;
}

.og-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

    .og-close::before,
    .og-close::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        height: 1px;
        background: #888;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .og-close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .og-close:hover::before,
    .og-close:hover::after {
        background: #333;
    }

.og-fullimg,
.og-details {
    width: 100%;
    /*float: left;*/
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}


@media screen and (max-width:650px) {
    .rb-overlay {
        border-width: 4px;
    }

    .rb-week {
        max-width: 98%;
    }
}

.ley .og-grid.ley-docs li {
    width: 40%;
    min-width: 280px;
    margin: 10px 30px;
}

.ley .ley-item {
    /*height: 92px;*/
    height: 103px;
    margin-bottom: 20px;
    border-bottom: 1px #4275b8 solid;
    position: relative;
}

    .ley .ley-item h4 {
        position: absolute;
        bottom: 0;
        font-weight: normal;
        font-family: "Open Sans";
        text-align: left;
        margin-bottom: 0;
        min-height: 25px !important;
    }

    .ley .ley-item .pdfx h5 {
        font-weight: normal;
        font-family: "Open Sans";
        position: absolute;
        right: 90px;
        min-width: 200px;
        text-align: right;
        top: -10px;
        font-size: 13px;
        opacity: 1;
    }

    .ley .ley-item .pdfx.inactive h5 {
        opacity: 0;
    }

.ley .docs {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
}

.ley .date {
    color: #818181;
}

.ley .docs .leftx, .ley .docs .rigthtx {
    position: absolute;
    vertical-align: middle;
    left: -20px;
    top: 33px;
    cursor: pointer;
    opacity: .7;
}

    .ley .docs .leftx:hover, .ley .docs .rigthtx:hover {
        opacity: 1;
    }

.ley .docs .rigthtx {
    right: -11px;
    left: auto;
}

.ley .docs.empty .leftx, .ley .docs.empty .rigthtx {
    opacity: 0 !important;
    display: none !important;
}

.ley .pdfx {
    margin: 5px;
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: cover;
    position: absolute;
    right: 0;
    z-index: 2;
    background-image: url(../dcmtheme/images/carrera_info.jpg);
    cursor: pointer;
}

    .ley .pdfx i {
        display: inline;
        font-size: 80px;
        background-color: #ddd;
        vertical-align: middle;
        border: 1px solid #c1c1c1;
        line-height: 80px;
        color: #000;
    }

    .ley .pdfx:hover i {
        border-color: #555555;
    }

    .ley .pdfx.inactive {
        z-index: 1;
        margin-top: 2px;
        right: -3px;
    }

.og-details {
    padding: 0 40px 0 20px;
}
/*#endregion*/

/*#region abc-list*/
.og-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    -webkit-animation: loader 0.5s infinite ease-in-out both;
    -moz-animation: loader 0.5s infinite ease-in-out both;
    animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
    0% {
        background: #ddd;
    }

    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }

    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@-moz-keyframes loader {
    0% {
        background: #ddd;
    }

    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }

    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@keyframes loader {
    0% {
        background: #ddd;
    }

    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }

    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}


.abc-list {
    list-style: none;
    counter-reset: li;
    padding-left: 0;
    margin-left: .625rem;
}

    .abc-list li {
        position: relative;
        list-style: none;
        color: #262626;
        padding: 6px 12px 20px 18px;
        font-size: 14px;
    }


    .abc-list > li:before {
        position: absolute;
        margin-top: 3px;
        left: -10px;
        vertical-align: middle;
        content: counter(li);
        counter-increment: li;
        font-size: 14px;
        color: #ffffff;
        background-color: #dedede;
        width: 25px;
        height: 22px;
        /* border-radius: 50%; */
        text-align: center;
        padding-top: 3px;
    }
/*#endregion*/






