
/* #Slide1
================================================== */
/*<editor-fold defaultstate="collapsed" desc="Slide1">*/

/*</editor-fold>*/

/*#region Notices Featured*/
.metro .noticiesWrap .rb-close {
    display: none;
}

.metro .noticiesWrap {
    position: relative;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 45px;
    height: auto;
    min-height: 400px;
    overflow: hidden;
}

.container .featured {
    margin: 1px auto 35px auto;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.blogindex .container .featured {
    margin-top: 0;
}

.blogindex .articlecontainer.featured {
    width: 706px;
    float: left;
    margin-left: -1px;
    margin-top: 1px;
    margin-bottom: 15px;
}

.isotope {
    min-width: 300px !important;
}

.home .two_third, .home .one_third {
    margin: 0;
}

.featured a.isobrick {
    background: rgba(0, 0, 0, 0.01) url(../images/small-loading.gif) center no-repeat;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

.featured .featuredinner {
    /*opacity: 0;*/
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    -ms-filter: "alpha(opacity=0)";
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    /*opacity: 0; */
}

.featuredinner {
    display: block;
    position: relative;
    height: 100%;
}

.featuredoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    /*background-image: url(../images/linebg-fade.png);*/
    background-position: top;
    background-repeat: repeat-x;
    z-index: 8;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(0,0,0,.5);
}

.metro .featuredinner:hover .featuredoverlay {
    opacity: 0;
}

.metro .brn {
    width: 100%;
    height: 150%;
    display: block;
    position: absolute;
    top: -25%;
    left: -150%;
    padding: 20px;
    background: rgba(255,0,0,.9);
    z-index: -1;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    max-width: 400px;
}

.metro .featuredinner:hover .brn {
    left: -35px;
}

.featured .half .featuredoverlay, .featured .quarter .featuredoverlay {
    height: 200px;
}

.featured .noti-title, .featured .noti-title a {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    position: absolute;
    /* bottom: 15px;*/
    top: 15px;
    left: 20px;
    width: 80%;
    z-index: 9;
}


span.date a.bubble, span.date a.bubble:hover {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff !important;
}

.featured .noti-title span.date {
    margin-top: 5px;
    color: #fff;
}

.articleinner span.date {
    margin-bottom: 15px;
}

#fullcolumn .articleinner span.date {
    margin-bottom: 10px;
}

.one_col {
    display: block;
    float: left;
    width: 314px;
    overflow: visible;
    margin-right: 15px;
    padding-top: 10px;
    border-top: 1px solid #dcdcdc;
}

.featured .one_col {
    height: 250px;
    width: 320px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    cursor: pointer;
}


    .featured .one_col.double {
        height: 250px;
        width: 640px;
        margin-top: 0px;
    }

    .featured .one_col.half {
        height: 124px;
        width: 320px;
    }

    .featured .one_col.quarterx {
        height: 124px;
        width: 155px;
    }

/****/

.featured .one_col, .featured .two_col {
    /*margin: 1px;*/
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 3px;
}

.featuredcontainer {
    width: 1000px; /*966px;*/
    margin-left: -1px;
    margin: auto;
}

.one_col.half.comunicWraper {
    height: 378px !important;
    background: transparent;
    padding-left: 10px !important;
    /*padding-right: 4px !important;*/
    margin-top: 0px;
    overflow: visible;
}

html > body .featured a.isobrick {
    background: none;
}

.featuredcontainer .homeslider img {
    max-width: 120%;
}
/*#endregion*/

/* #region Vacordion*/
/* Vertical Accordion Style */
.va-container {
    position: relative;
    margin: 40px auto 0 auto;
}

.va-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #000;
}

.va-slice {
    cursor: pointer;
    position: absolute;
    width: 100%;
    left: 0px;
    overflow: hidden;
    border-bottom: 1px solid #FFFFFF;
}

    .va-slice:after {
        background-color: rgba(0,0,0,.3);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        content: '';
        z-index: 7;
    }

    .va-slice:hover:after {
        background-color: transparent;
    }

.metro .va-title {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    margin-right: 20px;
    color: #fff !important;
    text-align: right;
    z-index: 8;
    position: relative;
}

.va-content {
    display: none;
    margin-left: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url(../images/linebg-fade.png);*/
    background-color: rgba(255,255,255,.92);
    background-position: top;
    background-repeat: repeat-x;
    color: #000;
    z-index: 8;
    font-size: 14px;
}

.metro .line-hr {
    border-bottom: 3px solid red;
    margin: 10px 0;
}


.va-nav span {
    width: 40px;
    height: 25px;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -20px;
    opacity: .7;
    cursor: pointer;
    display: none;
    z-index: 100;
    font-size: 30px;
}

    .va-nav span.va-nav-next {
        /*background-image: url(../images/next.png);*/
        top: auto;
        bottom: -35px;
    }

    .va-nav span:hover {
        opacity: 1.0;
    }

.va-slice:hover {
    background-size: 110% !important;
}

.va-slice img {
    transition: transform 0.45s, filter 0.45s;
    -webkit-transition: -webkit-transform 0.45s, -webkit-filter 0.45s;
    -moz-transition: -moz-transform 0.45s, -moz-filter 0.45s;
    -o-transition: -o-transform 0.45s, -o-filter 0.45s;
    -ms-transition: -ms-transform 0.45s, -ms-filter 0.45s;
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 7;
    position: absolute;
}

.va-slice:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
/*#endregion*/

/* #region Tabs*/
.metro .tab-control .tabs {
    padding-left: 0;
    list-style: none;
    margin: 0 !important;
    z-index: 2;
}

    .metro .tab-control .tabs li ul,
    .metro .tab-control .tabs li ol {
        list-style: none;
        padding-left: 25px;
    }

    .metro .tab-control .tabs:before,
    .metro .tab-control .tabs:after {
        display: table;
        content: "";
    }

    .metro .tab-control .tabs:after {
        clear: both;
    }

    .metro .tab-control .tabs > li {
        background-color: #ffffff;
        display: block;
        float: left;
        margin-left: 5px;
        position: relative;
        min-width: 60px;
        -moz-transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

        .metro .tab-control .tabs > li.active {
            min-width: 70%;
        }

        .metro .tab-control .tabs > li > a {
            border: 1px #eeeeee solid;
            display: block;
            float: left;
            padding: 5px 10px;
            z-index: 10;
            top: 0;
            left: 0;
            color: inherit;
            background-color: #eeeeee;
        }

        .metro .tab-control .tabs > li.active a {
            border-bottom-color: #ffffff;
            background-color: #ffffff;
            border-top: 2px #e51400 solid;
        }

        .metro .tab-control .tabs > li.active:hover a {
            background-color: #ffffff;
            color: #1d1d1d;
        }

        .metro .tab-control .tabs > li:hover a {
            background-color: #d5d5d5;
            color: #ffffff;
        }

        .metro .tab-control .tabs > li.place-right {
            float: right;
            margin-right: 5px;
            margin-left: auto;
        }

    .metro .tab-control .tabs.no-spaces > li {
        margin-left: 0;
    }

.metro .tab-control .frames {
    z-index: 1;
    border: 1px transparent solid;
    margin-top: -1px;
}

    .metro .tab-control .frames .frame {
        display: none;
    }

        .metro .tab-control .frames .frame:first-child {
            display: block;
        }

.metro .tab-control .frame {
    padding: 0px;
}

.metro .tab-control {
    /*max-width: 80%;*/
    margin: auto;
}
/*#endregion*/

/* #region panel facs*/
.og-grid .detailx {
    height: 0px;
    width: 0px;
    opacity: 0;
    line-height: 0px;
}

.og-grid {
    list-style: none;
    padding: 20px 0 !important;
    margin: 0 auto !important;
    text-align: left;
    width: 100%;
}

    .og-grid > li {
        display: inline-block;
        /*margin: 10px 10px 14.5px 10px;*/
        margin: 1px -1px;
        vertical-align: top;
        -webkit-transition-property: top, left, opacity;
        -moz-transition-property: top, left, opacity;
        -ms-transition-property: top, left, opacity;
        -o-transition-property: top, left, opacity;
        transition-property: top, left, opacity;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }


    .og-grid li > .og-a, .og-grid li > .og-a img {
        width: 260px !important;
        border: none;
        outline: none;
        display: block;
        position: relative;
        text-decoration: none !important;
    }

    .og-grid.fac .og-box {
        box-shadow: none;
        width: 100%;
        height: 134px;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        -moz-animation-duration: 1s;
        -moz-animation-fill-mode: both;
        -ms-animation-duration: 1s;
        -ms-animation-fill-mode: both;
        -o-animation-duration: 1s;
        -o-animation-fill-mode: both;
        animation-duration: 1s;
        animation-fill-mode: both;
        background-color: #fff;
    }

    .og-grid.fac h5, .og-grid.fac h4, .og-grid.fac .spreview {
        padding: 12px 12px 1px 12px;
        width: 100%;
        margin: 0px;
        text-align: left;
    }

    .og-grid.fac h5 {
        background-color: white;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: rgb(0,70,113);
    }

    .og-grid.fac h4 {
        background-color: white;
        font-family: "Adequate ExtraLight";
        line-height: 130%;
        font-size: 17px;
        font-weight: bold /*400*/;
        padding-bottom: 6px;
    }

    .og-grid.fac {
        /*max-width: 760px;*/
        /*max-width: 960px;*/
        float: none;
    }

.metro .contentwrap.facWrap {
    max-width: 1200px;
}

.fac-title.span1 {
    height: 100%;
    /* margin-left: 10%!important; */
    margin-right: 10%;
    float: none !important;
    width: 100% !important;
    text-align: center;
}

.fac-title .title {
    /*font-size: 7rem;*/
    text-transform: uppercase;
    position: relative;
    vertical-align: top;
    color: white;
    font-family: "Adequate ExtraLight";
    word-break: normal !important;
    -webkit-word-break: normal !important;
    -moz-word-break: normal !important;
    -ms-word-break: normal !important;
    -o-word-break: normal !important;
    /*line-height: 8rem;*/
}

/*.metro .og-grid.fac .og-a .og-box*/
.metro .og-grid.fac .og-a {
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

    /*.metro .og-grid.fac .og-a:hover .og-box*/
    .metro .og-grid.fac .og-a:hover {
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

/*#endregion*/

/*#region direcs*/
.metro .contentwrap.direcWrap, .metro .contentwrap.facWrap {
    max-width: 1048px;
}

.metro .direcWrap .og-grid > li {
    margin: 1px -1px;
}

.metro .direc {
    width: 260px;
    height: 170px;
    background-color: #a28f23;
    position: relative;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

    .metro .direc .title {
        color: #fff;
        text-align: right;
        padding: 15px;
        font-size: 4.1rem;
        margin: 0;
    }

    .metro .direc .desc {
        color: #fff;
        bottom: 0px;
        left: 0px;
        padding: 15px;
        position: absolute;
        padding-right: 40px;
        text-align: left;
        font-size: 1.2rem;
        line-height: 17px;
    }

.metro .direcWrap:hover .direc {
    opacity: .8;
}

.metro .direcWrap .direc:hover {
    opacity: 1;
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    border-top-left-radius: 75%;
}
/*#endregion*/

/*#region Club*/
.metro .clubWrap {
    /*max-width:*/
    text-align: center;
}

.metro .club {
    width: 160px;
    height: 120px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
}

    .metro .club i {
        font-size: 60px;
    }

    .metro .club:hover i, .metro .linksWrap .link:hover {
        color: #000 !important;
        transform: scale(1.1);
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
    }

    .metro .club .desc {
        color: #000;
        bottom: 0;
        left: 0;
        padding: 15px;
        position: absolute;
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
        font-weight: bold;
    }
/*#endregion*/

/*#region links*/
.metro .linksWrap.og-grid {
    max-width: 1000px;
}

.metro .linksWrap .link {
    display: block;
    width: 160px;
    height: 120px;
    position: relative;
    cursor: pointer;
}

.metro .linksWrap.og-grid li {
    margin: 20px 40px;
}
/*#endregion*/

/*#region Footer*/
.aui #footer {
    text-align: left;
}

.metro .footer span {
    display: block;
}

.aui .footer .span4x {
    border-right: 2px solid #fff;
    float: right;
    padding: 5px;
    padding-right: 20px;
    margin-top: 20px;
    min-height: 300px;
    height: auto;
    padding-left: 20px;
    /*min-width: 270px;*/
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.aui .footer .span6:last-child {
    border-left: 2px solid #000;
}

.footer .info, .footer h5 {
    text-align: right;
    color: #000;
    margin-top: 20px;
}

.footer .social .og-grid {
    text-align: left;
    max-width: 280px;
}

.footer .social li {
    padding: 10px;
    margin: 0px;
}

.footer .social i {
    font-size: 30px;
    border-radius: 50%;
    background-color: #000;
    width: 46px;
    height: 46px;
    color: #d5d5d5;
    padding: 8px;
    display: block;
    text-align: center;
}

.footer .social span, .footer .span4.blogs, .footer .blogs a {
    color: #000;
}

    .footer .blogs a:hover h5 {
        color: rgb(0,150,240) !important;
    }

.footer .social a:hover i {
    background-color: rgb(0,150,240);
    color: #fff;
}

.footer .social a, .footer .social i, .footer .blogs a, .footer .blogs i {
    text-decoration: none;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/*#endregion*/

/**from view.html**/
/*CSS Document*/

* {
    margin: 0px;
    padding: 0;
}

html, body, #wrapperscroll, #porletwrap, .metro .mm-page {
    width: 100%;
    height: 100%;
    /*background-color: #333;*/
}

/* NAV BAR SECTION */
#navigation {
    width: 100%;
    height: 100%;
    float: left;
}

#navBar {
    position: fixed;
    left: 0px;
    top: 50%;
    margin-top: -135px;
    z-index: 9999;
    font-size: 9px; /* 18px - 10px */
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    list-style: none;
}

    #navBar li {
        width: 150px;
        height: 38px /*45px*/;
        margin: 2px;
    }

        #navBar li .bloc {
            width: 10px;
            height: 37px /*45*/;
            background-color: black;
            position: absolute;
            -ms-transition: all 0.4s linear;
            -moz-transition: all 0.4s linear;
            -webkit-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
            transition: all 0.4s linear;
        }

        #navBar li a {
        }

        #navBar li .menutxt {
            position: absolute;
            height: 25px;
            vertical-align: middle;
            margin-top: 10px;
            margin-left: 0px;
            opacity: 0;
            -ms-transition: all 0.4s linear;
            -moz-transition: all 0.4s linear;
            -webkit-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
            transition: all 0.4s linear;
        }

            #navBar li .menutxt span {
                vertical-align: middle;
            }
        /*hover*/
        #navBar li.current .menutxt, #navBar li:hover .menutxt {
            opacity: 1;
            margin-left: 20px;
            color: rgb(72,177,240);
        }

        #navBar li:hover .bloc, #navBar li.current .bloc {
            background-color: rgb(72,177,240);
            width: 12px;
            margin-left: -1px;
        }


/* FOR ALL SLIDES */

#wrapperscroll .slide {
    /*background-attachment: fixed;*/ /*Memory leak*/
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
}

#wrapperscroll .scrollbut:before {
    content: "\f078";
}

#wrapperscroll .scrollbut {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s; /* Safari */
    font-family: 'fontawesome-alloy';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: white !important;
    font-size: 200%;
    line-height: 200%;
    vertical-align: middle;
    text-align: center;
}

    #wrapperscroll .scrollbut:hover {
        background-color: rgba(255,255,255,0.6);
        cursor: pointer;
        transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s; /* Safari */
        text-decoration: none !important;
    }

    #wrapperscroll .scrollbut.last {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); /* Safari and Chrome */
    }

/* SLIDES */

#slide3:before, #slide2:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
}

#slide2xx:after {
    content: '';
    /*bottom: 0;
    background: url('http://static9.cdn.ubi.com/resource/es-ES/game/tomclancy-thedivision/game/cache_bottom_agents.png') no-repeat;
    height: 214px;
    content: '';
    width: 100%;
    height: 77px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: url('http://static9.cdn.ubi.com/resource/es-ES/game/tomclancy-thedivision/game/cache_bottom_bloc_top.png') no-repeat;*/
}

.video-full:after {
    content: "";
    display: block;
    padding-bottom: 50%;
}


/*#region centros investigacion*/
.metro .centrosPanel {
    max-width: 1046px;
}

.centrosWrap {
    text-align: right;
}

    .centrosWrap .og-expander {
        margin-top: 0;
    }

    .centrosWrap > li {
        margin: 1px -1px;
    }

        .centrosWrap > li.og-expanded .og-expander {
            margin-top: 15px;
        }

    .centrosWrap li.og-expanded > a::after {
        bottom: -15px;
    }

    .centrosWrap .centro {
        background-color: #9C9B9B;
        width: 260px;
        height: 170px;
        display: block;
        position: relative;
    }
/*style:normal*/

.centro > div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    padding-left: 5px;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

    .centro > div > h2 {
        color: #fff;
        font-family: "Adequate ExtraLight";
        font-size: 2rem;
    }

    .centro > div > p {
        display: none;
        color: #fff;
        /*font-family: "Adequate ExtraLight";*/
        font-family: "Segoe UI Light";
        text-align: center;
        font-size: 12px;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        -moz-animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }

.centro:hover {
    padding: 5px;
}

    .centro:hover > div {
        background-color: rgba(0,70,113,.9) !important;
        width: 250px;
        height: 160px !important;
        bottom: auto !important;
        padding-top: 8%;
        -webkit-animation-name: zoomIn;
        -moz-animation-name: zoomIn;
        -o-animation-name: zoomIn;
        animation-name: zoomIn;
    }

        .centro:hover > div > h2 {
            text-align: center;
        }

        .centro:hover > div > p {
            display: block;
            -webkit-animation-name: flipInX;
            -moz-animation-name: flipInX;
            -o-animation-name: flipInX;
            animation-name: flipInX;
        }
/*style: has-img*/
.centro.has-img {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

    .centro.has-img > div {
        background-color: rgb(0,70,113);
        height: auto;
        bottom: 0;
    }

        .centro.has-img > div > h2 {
            text-align: center;
        }

/*centros expanded*/
.metro .centrosWrap .contentwrap {
    width: 98%;
    padding-top: 10px;
}

.metro .centrosWrap.og-grid .og-close {
    right: 5px;
    color: #fff;
}

    .metro .centrosWrap.og-grid .og-close:before, .metro .centrosWrap.og-grid .og-close:after {
        color: #fff;
    }

.centrosWrap.og-grid .og-expander-inner, .centrosWrap.og-grid .og-details {
    padding: 0;
}

.centrosWrap.og-grid .og-expander {
    background: #fff;
}

.centrosWrap .height100, .centrosWrap .span12, .centrosWrap .span12 .full-content {
    height: 100%;
}

.centrosWrap .og-close {
    z-index: 88;
}
/*sidebar*/
.metro .centrosWrap nav.sidebar.navx {
    height: auto;
}

.centrosWrap .sidebar > ul li {
    float: left;
    width: 55px;
    height: 250px;
    border: none;
    background-size: cover;
    background-position: 50%;
}

    .centrosWrap .sidebar > ul li.active {
        /*margin-right: calc(100% - 590px);*/
        width: calc(100% - 535px);
        background-size: cover;
        background-position: 50%;
    }

        .centrosWrap .sidebar > ul li.active a {
            width: 55px;
        }

    .centrosWrap .sidebar > ul li.centro1.active {
        /*margin-right: calc(100% - 590px);*/
        width: calc(100% - 330px);
        background-size: cover;
        background-position: 150px 50%;
    }

        .centrosWrap .sidebar > ul li.centro1.active a {
            width: 260px;
        }

        /**/
        .centrosWrap .sidebar > ul li.centro1.active h5 {
            margin-top: 10%;
            font-size: 18px;
        }

        .centrosWrap .sidebar > ul li.centro1.active h1 {
            font-size: 7rem;
            margin-top: 30px;
        }

        .centrosWrap .sidebar > ul li.centro1.active a {
            width: 100%;
        }

    .centrosWrap .sidebar > ul li a {
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        color: #fff;
        padding: 3px;
        text-rendering: optimizelegibility;
        -moz-box-shadow: -4px 0 8px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: -4px 0 8px rgba(0, 0, 0, 0.35);
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.35);
    }

        .centrosWrap .sidebar > ul li a:hover {
            padding: 10px !important;
        }

        .centrosWrap .sidebar > ul li a:before {
            position: absolute;
            content: attr(data-text);
            left: 50%;
            bottom: 10px;
            display: block;
            height: 1rem;
            text-align: left;
            white-space: nowrap;
            direction: rtl;
            width: 12.5rem;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
            font-size: 16px;
            text-rendering: optimizelegibility;
            -webkit-font-smoothing: antialiased;
        }

    .centrosWrap .sidebar > ul li.centro1 {
        width: 260px;
        text-indent: 0;
    }

        .centrosWrap .sidebar > ul li.centro1 > a {
            text-indent: 0;
            padding: 20px !important;
        }

.aui .centrosWrap .row-fluid .pan-l {
    display: flex;
    flex-direction: column;
}

.centrosWrap .pan-l .full-content {
    margin: 0;
    -ms-flex: 100;
    flex: 100;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
}

    .centrosWrap .pan-l .full-content .slic {
        height: auto;
        padding: 20px;
        color: #fff !important;
    }

        .centrosWrap .pan-l .full-content .slic.height100 {
            height: 100%;
        }

    .centrosWrap .pan-l .full-content .contentwrap p,
    .centrosWrap .pan-l .full-content .contentwrap h1,
    .centrosWrap .pan-l .full-content .contentwrap h2,
    .centrosWrap .pan-l .full-content .contentwrap h3,
    .centrosWrap .pan-l .full-content .contentwrap h4,
    .centrosWrap .pan-l .full-content .contentwrap h5,
    .centrosWrap .pan-l .full-content .contentwrap span,
    .centrosWrap .pan-l .full-content .contentwrap div {
        color: #fff !important;
    }

.centrosWrap .full-content {
    padding-top: 20px;
}

.centrosWrap .noti-divider {
    border-bottom: 1px #4275b8 solid;
    margin-bottom: 5px;
}

.metro .centrosWrap .og-grid.sharewrap {
    margin: 20px 0 !important;
}

/*rigth panel*/
.aui .centrosWrap .row-fluid .span4 {
    /*margin-left: 0 !important;*/
    /*display: flex;
    flex-direction: column;
    height: 100%;*/
}

.centrosWrap .panelRight {
    margin: 10px;
    margin-top: 45px;
    padding: 5px;
    margin-right: -15px;
    padding-right: 10px;
    -ms-flex: 100;
    flex: 100;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    color: #000;
}

.centrosWrap .pan-l .full-content .slic .panelRight {
    color: #000 !important;
}

.centrosWrap .panelRight > h1, .centrosWrap .sidebar > ul li.centro1 h1 {
    margin-bottom: 25px;
    font-size: 4rem;
    line-height: 3.5rem;
}

.centrosWrap .panelRight > h5, .centrosWrap .sidebar > ul li.centro1 h5 {
    font-weight: bold;
    line-height: 1.7rem;
    margin-top: 0;
    font-size: 12px;
}

.centrosWrap .panelRight .img-full {
    min-height: inherit;
    margin-top: 10px;
    margin-bottom: 30px;
}
/*enlaces*/
.metro .tabsservWrap > h5 {
    margin: 10px 0 0 20px;
    font-weight: bold;
    line-height: 1.7rem;
    text-align: center;
}

.metro .tabsserv {
    display: block;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 20px 20px 20px;
    text-align: center;
    height: 60px;
}

    .metro .tabsserv li {
        display: inline-block;
        width: 90px;
        padding: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
    }
/*noticias*/
.centrosWrap .noti-item {
    width: 100%;
    max-width: 290px;
    margin: auto;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    opacity: .85;
    height: 145px;
    overflow: hidden;
}

    .centrosWrap .noti-item:hover {
        opacity: 1;
    }

    .centrosWrap .noti-item > div {
        float: left;
        display: inline-block;
        position: relative;
    }

    .centrosWrap .noti-item .noti-detail {
        width: 170px;
        padding-right: 4px;
    }

    .centrosWrap .noti-item .img-full {
        width: 110px;
        height: 100px;
        margin: 10px 0 10px 5px;
    }

    .centrosWrap .noti-item h5 {
        line-height: 2rem;
        font-size: 14px;
        line-height: 17px;
    }

    .centrosWrap .noti-item p {
        font-size: 12px;
        height: 50px;
        overflow: hidden;
    }

.centrosWrap span.date {
    margin-bottom: 10px;
}
/*eventos*/
.abc-list {
    list-style: none;
    counter-reset: li;
    padding-left: 0;
    margin-left: .625rem;
}

    .abc-list li {
        position: relative;
        list-style: none;
        color: #262626;
        padding: 6px 12px 20px 18px;
        font-size: 14px;
    }

    .abc-list > li:before {
        position: absolute;
        margin-top: 3px;
        left: -10px;
        vertical-align: middle;
        content: counter(li);
        counter-increment: li;
        font-size: 14px;
        color: #fff;
        background-color: #dedede;
        width: 25px;
        height: 22px;
        text-align: center;
        padding-top: 3px;
    }

    .abc-list.simple-list > li:before {
        content: '';
        background-color: #B5B4B4;
        margin-top: 8px;
        width: 20px;
        height: 17px;
    }




.centrosWrap .item-evento {
    border-bottom: 1px solid #fff;
}

    .centrosWrap .item-evento .noti-detail {
        width: calc(100% - 160px);
        float: left;
        overflow: hidden;
        height: 150px;
    }

    .centrosWrap .item-evento .img-full {
        width: 150px;
        height: 150px;
        float: left;
        margin: 10px 0 10px 10px;
    }

    .centrosWrap .item-evento > a {
        opacity: .7;
    }

    .centrosWrap .item-evento a:hover {
        opacity: 1;
    }

    .centrosWrap .item-evento > div > p {
    }

    .centrosWrap .item-evento > div .event-desc {
        display: none;
    }

    .centrosWrap .item-evento.active > div > p, .centrosWrap .item-evento.active > a.dc, .centrosWrap .item-evento > a:last-child {
        display: none;
    }

    .centrosWrap .item-evento.active > a:last-child {
        display: inline;
        float: left;
    }

    .centrosWrap .item-evento.active .noti-detail {
        height: auto;
    }
/*pagination*/
.centrosWrap .eventosWrap .controls {
    width: 150px;
    margin: auto;
    position: absolute;
    bottom: -10px;
    top: auto;
    margin-bottom: 0;
    left: calc(50% - 75px);
    opacity: .55;
}

.centrosWrap .eventosWrap .contentwrap {
    width: 98%;
    padding-top: 10px;
    min-height: 100%;
    padding-bottom: 0;
    overflow: visible;
}

.centrosWrap .eventosWrap .counter {
    font-size: 18px;
}

.centrosWrap .eventosWrap .paginacion .page {
    height: calc(100% - 50px);
    min-height: calc(100% - 50px);
}
/*revistas*/

.centrosWrap .abc-list.revista-list > li:before {
    background-color: #0096f0 !important;
}

.centrosWrap .abc-list.revista-list > li:hover:before {
    background-color: #004671 !important;
}

.centrosWrap .abc-list.revista-list a {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    display: block;
}

.centrosWrap .contentwrap .abc-list.revista-list > li h5 {
    font-weight: bold;
    font-family: "Segoe UI Light","Open Sans Light";
    font-size: 20px;
    text-transform: uppercase;
    color: #004671 !important;
}

    .centrosWrap .contentwrap .abc-list.revista-list > li h5 > span {
        font-weight: 300;
        text-transform: capitalize;
        color: #004671 !important;
    }

.centrosWrap .contentwrap .abc-list.revista-list > li p {
    font-family: "Segoe UI Light","Open Sans Light";
    font-size: 14px;
}

}
/*contacto*/
.centrosWrap .contacto {
    background-color: red;
}


/*#endregion*/

